<%= simple_form_for @institute, html: { class: 'form-vertical', multipart: true } do |f| %>
  
<%= f.error_notification %>
<%= f.hidden_field :lock_version %>

  <div class="row">
    <div class="span5">      

      <%= f.input :name, label: 'Institute name' %>
      <%= f.input :alternate_name, placeholder: 'Optional' %>
      <%= f.input :acronym, placeholder: 'Optional', label: 'Acronym' %>
      <%= f.input :address, input_html: { rows: 4, class: "span5" }, as: :text %>
      <%= f.input :url, label: 'Website', placeholder: 'Optional' %>

      <%= f.button :submit, class: 'btn-warning' %><br><br>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                  institute_path(@institute), :class => 'btn' %>
    </div>
    <div class="span5 pull-right">
      <strong><h4>Institute icon</h4></strong>
      <p>.jpeg, .png or .gif images < 2 megabytes</p>
      <% if @institute.icon.present? %>
        <%= image_tag(@institute.icon.url(:portrait), class: "img-rounded").html_safe %>
        <br><br>
        <%= f.input :delete_icon, as: :boolean, label: false, inline_label: "Delete icon", wrapper_html: { class: "form-inline"} %><br>
      <% end %>
      <%= f.input :icon_remote_url, label: "Enter icon URL" %>
      <h4>or</h4>
      <%= f.file_field :icon %>
      
    </div>
  </div>
<% end %>