<%= simple_form_for @institute, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :alternate_name, placeholder: "Optional" %>
  <%= f.input :acronym, placeholder: "Optional" %>
  <%= f.input :url, placeholder: "Optional" %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                institutes_path, :class => 'btn' %>
  </div>
<% end %>
