<%= simple_form_for @institute, :html => { :class => 'form-vertical', multipart: true } do |f| %>
  <div class="row">
    <div class="span4">
      
      <%= f.input :name, input_html: { style: 'width: 350px'}, label: "Institute name" %>
      <%= f.input :alternate_name, input_html: {:style=> 'width: 350px'}, placeholder: "Optional" %>
      <%= f.input :acronym, input_html: {:style=> 'width: 350px'}, placeholder: "Optional", label: "Acronym" %>
      <%= f.input :address, :input_html => { style: 'width: 350px', rows: 4 }, as: :text %>
      <%= f.input :url, input_html: {:style=> 'width: 350px'}, label: 'Website', placeholder: "Optional" %>
    </div>
    <div class="span6 pull-right">
      <label>Logo</label><br>
      <% if @institute.icon? %>               
        <%= image_tag(@institute.icon_url(:main)) %><br><br>
        Remove image
        <%= f.check_box :remove_icon %><br><br>
      <% end %>
      <%= f.input :remote_icon_url, placeholder: "Enter image URL", label: false %>
      <h4>or</h4>
      <%= f.input :icon, label: false %>  
      <%= f.hidden_field :icon_cache %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                institute_path(@institute), :class => 'btn' %>
  </div>
<% end %>
