<% cache @institute do %>
  <div class="page-header">
      <h3>        
        <%= "#{@institute.name}" %>
        <% if @institute.acronym.present? %>
          (<%= "#{@institute.acronym}" %>)
        <% end %>
      <div class="btn-group">
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_institute_path(@institute), :class => 'btn-small btn-success' %>
      </div>
      </h3>
      <% if @institute.alternate_name.present? %>
        <h4 class="text-muted">
          <%= "#{@institute.alternate_name}" %></dd>
        <br>
        </h4>
      <% end %>
      <br>
      <div class="btn-toolbar">
          <%= link_to "Add department", new_institute_department_path(@institute), :class => 'btn-large' %>      
          <%= link_to "Invite someone", new_user_registration_path, :class => 'btn-large' %>
      </div>
  </div>
<% end %>