<% cache @institute do %>
  <div class="page-header">
      <h3><i class="icon-building"></i>        
        <%= " #{@institute.name}" %>
        <% if @institute.acronym.present? %>
          (<%= "#{@institute.acronym}" %>)
        <% end %>
      <% if user_signed_in? && current_user.gl? && current_user.institute == @institute %>
        <div class="btn-group">
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_institute_path(@institute), :class => 'btn-small btn-success' %>
        </div>
      <% end %>
      </h3>
      
      <% if @institute.alternate_name.present? %>
        <h4 class="text-muted">
          <%= "#{@institute.alternate_name}" %></dd>
        <br>
        </h4>
      <% end %>
      <br>
      <p> <%= pluralize(@institute.labs.count, "group") + " and " + pluralize(@institute.users.count, "member") %></p>


      <%= link_to "#", class: "btn-large" do %>
        <i class="icon-bullhorn"> Announcements</i>
      <% end %>
      <%= link_to "#", class: "btn-large" do %>
        <i class="icon-bar-chart"> Statistics</i>
      <% end %>
      <br><br>
      
  </div>
<% end %>