<div class="institute">
	<table>
  	<% if institute.icon? %>
  			<td><%= link_to image_tag(institute.icon.url(:thumb).to_s).html_safe, institute  %></td>
        <td>
        	<%= link_to "#{institute.name}".html_safe, institute %>
        	<p>
      			<%= pluralize(institute.labs.count, "group") %> with 
    	 			<%= pluralize(institute.users.count, "member") %>
    	 		</p>
        </td>
        <br>
    <% else %>
        <td><%= link_to "#{institute.name}".html_safe, institute %><br>
        		<p>
        			<%= pluralize institute.labs.count, "group" %> with
	    	 			<%= pluralize institute.users.count, "member" %>
	    	 		</p>
        </td>
        <br>
 		<% end %>		    	 
	</table>
</div>


