<% cache institute do %>
	<div class="institute">
		<table>
    	<% if institute.icon? %>
    			<td><%= link_to image_tag(institute.icon_url(:thumb)).html_safe, institute  %></td>
	        <td><%= link_to "#{institute.name}".html_safe, institute %></td>
	        <% if user_signed_in? && current_user.superuser? %>
		        <td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
		                      institute_path(institute),
		                      :method => :delete,	                     
		                      :class => 'btn-small btn-danger' %><td>
		      <% end %>
      <% else %>
	        <td><%= link_to "#{institute.name}".html_safe, institute %></td>
	        <% if user_signed_in? && current_user.superuser? %>
		        <td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
		                      institute_path(institute),
		                      :method => :delete,	                     
		                      :class => 'btn-mini btn-danger' %><td>
		      <% end %>
   		<% end %>
		</table>
	</div>
<% end %>


