<%- model_class = Institute -%>
<div class="page-header">

	<%= simple_form_for search_suggestions_path, :method => :get do |f| %>
	  <%= f.input :search, required: false, label: false, placeholder: "Search Infinitory" %>	  
	<% end %>


	<% if params[:search].present? %>
		<h3 class="text-muted"><%= pluralize @institutes.count, "institute".titleize %> in <%= params[:search].titleize %></h3>
  <% else %>
	  <h3 class="text-muted"><%= pluralize @institutes.count, "institute" %></h3>
	  <h4 class="text-muted"><%= pluralize @departments, "department"%></h4> 
	  <h5 class="text-muted"><%= pluralize @labs, "lab"%> </h5>		
	  <h6 class="text-muted">ZERO MEMBERS</h6>	  
  <% end %>
</div>

<%= render @institutes %>

	<% unless params[:search].present? %>
		<% if @institutes.previous_page %>
		  <%= link_to "< Previous", params.merge(page: @institutes.previous_page) %>
		<% end %>
		Page <%= @institutes.current_page %> of <%= @institutes.total_pages %>
		<% if @institutes.next_page %>
		  <%= link_to "Next >", params.merge(page: @institutes.next_page) %>
		<% end %>
		<br><br>
	<% end %>
	<%= link_to "Add new institute", new_institute_path, :class => 'btn' %>
	<br>
<% if params[:search].present? %>
	<br>
	<%= render 'gmap' %>
<% end %>


