<%- model_class = Institute -%>
<div class="page-header">
	<% if params[:search].present? %>
		<h3><%= pluralize @institutes.count, "institute".titleize %>  Registered Around <%= params[:search].titleize %></h3>
		<%= render 'gmap' %><br>
  <% else %>
	  <h3><%= pluralize @institutes.count, "institute" %></h3>
  <% end %>

  <%= link_to "Add new institute",
            new_institute_path,
            :class => 'btn' %>
</div>

<%= form_tag institutes_path, method: :get do %>
	<p>
			<%= text_field_tag :search, params[:search], placeholder: "Search cities" %>
	</p>
<% end %>

<%= render @institutes %>

<% unless params[:search].present? %>
	<% if @institutes.previous_page %>
	  <%= link_to "< Previous", params.merge(page: @institutes.previous_page) %>
	<% end %>
	Page <%= @institutes.current_page %> of <%= @institutes.total_pages %>
	<% if @institutes.next_page %>
	  <%= link_to "Next >", params.merge(page: @institutes.next_page) %>
	<% end %>
<% end %>
