<%- model_class = Institute -%>
<div class="page-header">
	<% if params[:search].present? %>
		<h3><%= pluralize @institutes.count, "institute" %> register near <%= params[:search].titleize %></h3>

		<%= gmaps(map_options: { auto_zoom: true, disableDefaultUI: true, mapTypeControl: true, maxZoom: 16, minZoom: 2},
          markers: { "data" => @mapped }) %>

  <% else %>
	  <h3><%= pluralize @institutes.count, "institute" %></h3>
  <% end %>

  <%= link_to "Add new institute",
            new_institute_path,
            :class => 'btn' %>
</div>

<%= form_tag institutes_path, method: :get do %>
	<p>
			<%= text_field_tag :search, params[:search], placeholder: "Search locations" %>
	</p>
<% end %>

<%= render @institutes %>

