<%- model_class = Institute -%>
	<% if params[:search].present? %>
		<h3 class="text-muted"><%= pluralize(@institutes.count, "institute".titleize) %> in <%= params[:search].titleize %></h3>
		<br>
  <% end %>
  <% unless user_signed_in? %>
		<div class="page-header">
		  <div class="btn-group">
				<%= link_to "Register your lab", new_user_registration_path, :class => 'btn-large' %>
			</div>
		</div>
	<% end %>

<% if params[:search].present? %>
	<div class="span9">
		<%= render @institutes %>
	</div>
	<br>
<% else %>
	<div class="span9">
	<%= render @institutes %>
	
	<%= paginate @institutes, theme: 'twitter-bootstrap', 
                            pagination_class: 'pagination-small pagination-centered' %>
	<br><br>
	
		<div class="span6">
		</div>
<% end %>


