<%- model_class = Institute -%>
<div class="page-header">
	<% if params[:search].present? %>
		<h3 class="text-muted"><%= pluralize @institutes.count, "institute".titleize %> in <%= params[:search].titleize %></h3>
		<br>
  <% end %>
  <div class="btn-group">
		<%= link_to "Register your lab", new_institute_lab_path(@institute), :class => 'btn-large' %>
	</div>
</div>

<% if params[:search].present? %>
	<div class="span3">
		<%= render @institutes %>
	</div>
	<br>
	<div class="span8">
		<%= render 'gmap' %>
	</div>
<% else %>
	<div class="span3">
	<%= render @institutes %>
		<% if @institutes.previous_page %>
		  <%= link_to "< Previous", params.merge(page: @institutes.previous_page) %>
		<% end %>
		Page <%= @institutes.current_page %> of <%= @institutes.total_pages %>
		<% if @institutes.next_page %>
		  <%= link_to "Next >", params.merge(page: @institutes.next_page) %>
		<% end %>
	</div>
	<% if @mapped.present? %>
		<div class="span8">
			<%= render 'gmap' %>
		</div>
	<% end %>
<% end %>


