<%- model_class = Institute -%>
<div class="page-header">
	<% if params[:search].present? %>
		<h3><%= pluralize @institutes.count, "institute".titleize %> in <%= params[:search].titleize %></h3>
  <% else %>
	  <h3 class="text-muted"><%= pluralize @institutes.count, "institute" %>, 
	  		<%= pluralize @departments, "department"%>, 
	  		<%= pluralize @labs, "lab"%> and 
	  		ZERO MEMBERS</h3>	  
  <% end %>
</div>

<%= render @institutes %>


	
	<br>
	  <%= link_to "Add new institute",
	            new_institute_path,
	            :class => 'btn' %>
	<br>

<% if params[:search].present? %>
	<%= render 'gmap' %><br>
<% end %>


