<%- model_class = Institute -%>
<div class="page-header">
	<% if params[:search].present? %>
		<h3 class="text-muted"><%= pluralize(@institutes.count, "institute".titleize) %> in <%= params[:search].titleize %></h3>
		<br>
  <% end %>
  <% unless user_signed_in? %>
  <div class="btn-group">
		<%= link_to "Register your lab", new_user_registration_path, :class => 'btn-large' %>
	</div>
	<% end %>
</div>

<% if params[:search].present? %>
	<div class="span5">
		<%= render @institutes %>
	</div>
	<br>
<% else %>
	<div class="span5">
	<%= render @institutes %>
	
	<%= will_paginate @institutes, class: 'text-center lead' %>
	<br><br>
	
		<div class="span6">
		</div>
<% end %>


