
<% title " Institutes: " + @institute.name %>

<%= render 'header' %>
<div class="span5">
   <%= render 'info' %>
   
   <% if @institute.departments.present? %>
			<%= render 'department' %>
   <% end %>

   <% if @institute.labs.present? %>
      <%= render 'lab' %>
   <% end %>
</div>
<div class="span6"> 

    <br>
   <% if @institute.nearbys.present? %>
     <%= render 'nearby' %>
   <% end %>
    <br>
</div>