<%- model_class = Institute -%>
<div class="page-header">
  <h2 class="text-muted"><%= "#{@institute.name}" %></h2>
</div>

<%= render 'gmap' %>

<dl class="dl-vertical">
  <% if @institute.alternate_name? %>
    <dt><strong><%= model_class.human_attribute_name(:alternate_name) %>:</strong></dt>
    <dd><%= @institute.alternate_name %></dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:address) %></strong></dt>
  <dd><%= @institute.address %></dd>
</dl>

  <%= link_to "Add new department",
            new_institute_department_path(@institute),
            :class => 'btn' %>

<% @departments.each do |department| %>
  <div class="department">
  <p><%= link_to department.name, institute_department_path(@institute, department) %></p>
  </div>
<% end %>

<h4>Nearby Institutes</h4>
<ul>
<% for institute in @institute.nearbys(50) %>
 <li><%= link_to institute.name, institute, 'data-no-turbolink' => true %> (<%= institute.distance.round(1) %> km)</li>
<% end %>
</ul>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              institutes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_institute_path(@institute), :class => 'btn' %>
</div>
