<%- model_class = Institute -%>
<div class="page-header">
  <h2>
    <%= "#{@institute.name}" %>
    <% if @institute.acronym.present? %>
      (<%= "#{@institute.acronym}" %>)
    <% end %>
  </h2>
  <h3 class="text-muted">
    <%= "#{ pluralize @institute.departments.count, "department" }" " and " "#{ pluralize @institute.labs.count, "lab" } registered" %>
  </h3>
</div>

<dl class="dl-vertical">
  <% if @institute.url? %>
    <dt><strong>Website</strong></dt>
    <dd><%= link_to "#{@institute.url}", @institute.url, :only_path => false  %></dd>
    <br>
  <% end %>
  <% if @institute.alternate_name.present? %>
    <dt><strong><%= model_class.human_attribute_name(:alternate_name) %></strong></dt>
    <dd><%= @institute.alternate_name %></dd>
    <br>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:address) %></strong></dt>
  <dd><%= @institute.address %></dd>
</dl>

  <%= link_to t('.back', :default => t("helpers.links.back")),
                institutes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_institute_path(@institute), :class => 'btn', 'data-no-turbolink' => true %>
  <br>
  <br>
 
 <% if @institute.departments.present? %>           
  <h4>Departments</h4>
    <% @departments.each do |department| %>
    <div class="department">
    <p><%= link_to department.name, institute_department_path(@institute, department), 'data-no-turbolink' => true  %></p>
    </div>
  <% end %>
<% end %>

<%= link_to "Add new department", new_institute_department_path(@institute), :class => 'btn' %>

  <br>
  <br>

<%= render 'gmap' %>

  <br>

<% if @institute.nearbys.present? %>
  <h4>Nearby Institutes</h4>
  <ul>
  <% for institute in @institute.nearbys(50) %>
   <li><%= link_to institute.name, institute, 'data-no-turbolink' => true %> (<%= institute.distance.round(2) %> km)</li>
  <% end %>
  </ul>
<% end %>


