<%- model_class = Institute -%>
<div class="page-header">
  <h2 class="text-muted"><%= "#{@institute.name}" %></h2>
</div>

<dl class="dl-vertical">
  <% if @institute.alternate_name? %>
    <dt><strong><%= model_class.human_attribute_name(:alternate_name) %>:</strong></dt>
    <dd><%= @institute.alternate_name %></dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:address) %></strong></dt>
  <dd><%= @institute.address %></dd>
</dl>

<p>
  <%= link_to "Register a department at #{@institute.name}", new_institute_department_path(@institute) %>
</p>

<div class="page-header">
  <h3><%= "Departments" %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
    </tr>
  </thead>
  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= link_to department.name, institute_department_path(@institute, department) %></td>
        <td><%= department.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              institutes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_institute_path(@institute), :class => 'btn' %>
</div>
