
<%= render 'header' %>

<div class="span3">
   <%= render 'info' %>
   <%= render 'department' %>
   <%= render 'nearby' %>
</div>

<div class="span8">  
    <br>
    <%= render 'gmap' %>
    <br>
</div>
