<%= render 'header' %>
<div class="span3">
   <%= render 'info' %>
   <% if @institute.departments.present? %>
			<%= render 'department' %>
   <% end %>
   <% if @institute.nearbys.present? %>
	   <%= render 'nearby' %>
	 <% end %>
</div>
<div class="span8">  
    <br>
    <%= render 'gmap' %>
    <br>
</div>