<%- model_class = Institute -%>
<div class="page-header">
  <h2 class="text-muted"><%= "#{@institute.name}" %></h2>
</div>

<dl class="dl-vertical">
  <% if @institute.alternate_name? %>
    <dt><strong><%= model_class.human_attribute_name(:alternate_name) %>:</strong></dt>
    <dd><%= @institute.alternate_name %></dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:address) %></strong></dt>
  <dd><%= @institute.address %></dd>
</dl>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              institutes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_institute_path(@institute), :class => 'btn' %>
</div>
