<div><h2 class="text-center"><%= current_user.fullname %>'s Profile</h2>
<br>
<%= simple_form_for(resource, :as => resource_name, url: registration_path(resource_name),
                    html: { method: :put, class: 'form-vertical', multipart: true, autocomplete: 'off' }) do |f| %>
<%= f.error_notification %>
<div class="form-inputs">
  <div class="row">
    <div class="span5">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.collection_select :role, User::ROLES, :to_s, :humanize, 
                                     prompt: 'Choose your position',
                                     required: false %>
        <br>
        <br>
      <span class="LMform">
        <%= f.input :lab_email, as: :email, label: "Group leader's email address", 
                                typeahead: User.all_gls.pluck(:email),
                                placeholder: 'Link your account to your lab',
                                tooltip: ['right', 'Your group leader must first create an account']  %>
      </span>
      <span class="GLform">
        <%= f.input :institute_name, placeholder: 'Find or create your institute',
                                     typeahead: Institute.all.pluck(:name).uniq %>
        <span id="department_select">
          <%= f.input :department_id, collection: Institute.where(id: current_user.institute.id), 
                                      as: :grouped_select,
                                      label_method: :name,
                                      group_method: :departments,
                                      required: false,
                                      include_blank: 'None' %>
        </span>
        <br>
      </span>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
    </div>
    <div class="span5 pull-right">
      <strong><h4>Photo</h4></strong>
      <% if @user.icon.present? %>
        <%= image_tag(@user.icon.url(:portrait), class: "img-rounded").html_safe %>
        <br><br>
        <p>Delete Picture  <%= f.check_box(:delete_icon) %></p>
      <% end %>
      <%= f.file_field :icon %>
      <br><br>
      <%= f.input :password, label: 'New password (Optional)',
                         autocomplete: 'off',
                         required: false %>

      <%= f.input :password_confirmation, label: 'New password confirmation',
                                           required: false,
                                           wrapper_html: { style: 'display: none' } %>
    </div>
  </div>

<div class="row">
  <div class="span5">
    <%= f.input :current_password, hint: 'Enter current password to confirm changes',
                                   required: true %>
      <%= f.button :submit, "Update", class: "btn-warning" %>
  <% end %>

  <h4><%= link_to "Cancel update", :back %></h4>
  <h5><%= link_to "Delete my account",
                    registration_path(resource_name),
                    data: { confirm: 'Are you sure you want to delete your account?' },
                    method: :delete %></h5><br><br>
  </div>
</div>