<div><h2 class="text-center"><%= current_user.fullname %>'s Profile</h2>
<br>
<%= simple_form_for(resource, :as => resource_name, url: registration_path(resource_name),
                    html: { method: :put, class: 'form-vertical', multipart: true, autocomplete: 'off' }) do |f| %>
<%= f.error_notification %>
<div class="form-inputs">
  <div class="row">
    <div class="span5">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.collection_select :role, User::ROLES, :to_s, :humanize, 
                                     prompt: 'Choose your position',
                                     required: false %>
        <br>
        <br>
      <span class="LMform">
        <%= f.input :lab_email, as: :email, label: "Group leader's email address", 
                                typeahead: User.all_gls.pluck(:email),
                                placeholder: 'Link your account to your lab',
                                tooltip: ['right', 'Your group leader must first create an account']  %>
      </span>
      <span class="GLform">
        <%= f.input :institute_name, placeholder: 'Find or create your institute',
                                     typeahead: Institute.all.pluck(:name).uniq %>
        <span id="department_select">
          <% if current_user.institute.departments.present? %>
            <%= f.input :department_id, collection: Institute.where(id: current_user.institute.id), 
                                        as: :grouped_select,
                                        label_method: :name,
                                        group_method: :departments,
                                        required: false,
                                        include_blank: 'None' %>
            <br>
          <% end %>
          <%= link_to "ADD DEPARTMENT", new_institute_department_path(current_user.institute) %>
          <br>
        </span>
        <br>
      </span>
      <%= f.input :linkedin_url, label: "LinkedIn", placeholder: "http://www.linked.com/you" %>
      <%= f.input :xing_url, label: "Xing", placeholder: "https://www.xing.com/profile/you" %>
      <%= f.input :twitter_url, label: "Twitter", placeholder: "https://twitter.com/you" %>
      <%= f.input :facebook_url, label: "Facebook", placeholder: "https://www.facebook.com/you" %>
      <%= f.input :google_plus_url, label: "Google+", placeholder: "https://plus.google.com/you" %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
    </div>

    <div class="span5 pull-right">
      <strong><h4>Photo</h4></strong>
      <p>.jpeg, .png or .gif images < 2 megabytes</p>
      <% if @user.icon.present? %>
        <%= image_tag(@user.icon.url, class: "img-rounded").html_safe %>
        <br><br>
        <%= f.input :delete_icon, as: :boolean, label: false, inline_label: "Delete photo", wrapper_html: { class: "form-inline"} %><br>
      <% end %>
      <%= f.input :icon_remote_url, label: "Enter image URL" %>
      <h4>or</h4>
      <%= f.file_field :icon %>
      <hr>

      <strong><h4>Attachments</h4></strong>
          <p><strong>.pdf files < 3 megabytes</strong></p>
          <% if @user.pdf? %>
            <%= link_to "#{ @user.pdf_file_name }", @user.pdf.url %>
            <br><br>
            <%= f.input :delete_pdf, as: :boolean, label: false, inline_label: "Delete attachment", wrapper_html: { class: "form-inline"} %><br>
          <% end %>

          <%= f.input :pdf_remote_url, label: "Enter attachment URL" %>
          <h4>or</h4>
          <%= f.file_field :pdf %>
          <hr>

      <%= f.input :password, label: 'New password (Optional)',
                         autocomplete: 'off',
                         required: false %>

      <%= f.input :password_confirmation, label: 'New password confirmation',
                                           required: false,
                                           wrapper_html: { style: 'display: none' } %>
    </div>
  </div>

<div class="row">
  <div class="span5">
    <%= f.input :current_password, hint: 'Enter current password to confirm changes',
                                   required: true %>
      <%= f.button :submit, "Update", class: "btn-warning" %>
  <% end %>

  <h4><%= link_to "Cancel update", :back %></h4>
  <h5><%= link_to "Delete my account",
                    registration_path(resource_name),
                    data: { confirm: 'Are you sure you want to delete your account?' },
                    method: :delete %></h5><br><br>
  </div>
</div>