<div><h2 class="text-center"><%= current_user.fullname %>'s Profile</h2>
<br>

<%= simple_form_for(resource, :as => resource_name, url: registration_path(resource_name),
                    defaults: { input_html: { style: 'width: 350px' } },
                    html: { method: :put, :class => 'form-vertical' }) do |f| %>
<%= f.error_notification %>
<div class="form-inputs">
  <div class="row">
    <div class="span3">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      
        <%= f.collection_select :role, User::ROLES, :to_s, :humanize, 
                                       prompt: "Choose your position",
                                       required: false %>
        <br>
        <br>      
      <span class="LMform hidden">
        <%= f.input :lab_email, as: :email, label: "Group leader's email address", 
                                typeahead: User.all_gls.pluck(:email),
                                placeholder: 'Link your account to your lab',
                                tooltip: ['right', 'Your group leader must first create an account']  %>
      </span>

      <span class="GLform hidden">
        <%= f.input :institute_name, placeholder: 'Find or create your institute',
                                     typeahead: Institute.all.pluck(:name).uniq %>
        <span id="department_select">
          <%= f.input :department_id, collection: Institute.where(id: current_user.institute), 
                                      as: :grouped_select,
                                      group_method: :departments,
                                      include_blank: 'None' %>
        </span>
        <br>
      </span>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
    </div>
    <div class="span6 pull-right">
      <label>Picture</label><br>
       <% if @user.icon? %>
         <%= image_tag(@user.icon_url(:large)) %><br><br>
         Remove image
        <%= f.check_box :remove_icon %><br><br>
       <% end %>
       <%= f.input :remote_icon_url, placeholder: 'Enter a URL', label: false %>
       <h4>or</h4>
       <%= f.input :icon, label: false %>  
       <%= f.hidden_field :icon_cache %>
    </div>
  </div>
  <%= f.input :password, label: 'New password (Optional)', autocomplete: 'off',
                         required: false %>

  <%= f.input :password_confirmation, label: 'New password confirmation', required: false,
                                      wrapper_html: { style: 'display: none' } %>
  
  <%= f.input :current_password, hint: 'Enter current password to confirm changes',
                                 required: true %>
  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h4><%= link_to "Cancel update", :back %></h4>
<h5><%= link_to "Delete my account",
                  registration_path(resource_name),
                  data: { confirm: 'Are you sure you want to delete your account?' },
                  method: :delete %></h5>
<br>
</div>