<h2>Sign up</h2>
<br>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :group_leader, as: :radio_buttons, label: "Are you a group leader?",
  								hint: "Your group leader must have an account for you to join",
  								input_html: {:style=> 'width: 350px'} %>
  								<br>
    <%= f.input :email, :required => true, :autofocus => true, label: "Your email address",
    							placeholder: "Institutional addresses only", input_html: {:style=> 'width: 350px'}  %>
    <%= f.input :email, :required => true, :autofocus => true, label: "Group leader's email address",
    							placeholder: "Institutional addresses only", input_html: {:style=> 'width: 350px'}  %>
    <%= f.input :password, :required => true, input_html: {:style=> 'width: 350px'}  %>
    <%= f.input :password_confirmation, :required => true, input_html: {:style=> 'width: 350px'}  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
