<span class="text-center">
	<h2>Registration</h2>
</span>
<br>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),
                              :html => { :class => 'form-inline'} ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <%= f.collection_select :role, User::ROLES, :to_s, :humanize, prompt: "Choose your position" %>
    <br><br>

      <%= f.input :email, required: true, label: "Email address",
      							placeholder: "Institutional addresses only",
                    input_html: { style: 'width: 350px' } %>

    <span class="GLform hidden">
      <%= f.input :institute_name, required: true,
                    placeholder: "Find or create your institute",
                    input_html: { style: 'width: 350px', 
                    data: { autocomplete_source: institutes_path }} %>
      
      <%= f.input :department_name, label: "Department name (optional)",
                    placeholder: "Find or create your department",
                    input_html: { style: 'width: 350px', 
                    data: {autocomplete_source: Department.order(:name).map(&:name) }} %>
    </span>

    <span class="LMform hidden">
      <%= f.association :lab, required: true, label: "Your group leader's email address", placeholder: "Institute addresses only",
                          input_html: { style: 'width: 350px' } %>
    </span>

      <%= f.input :password, required: true, input_html: {:style=> 'width: 350px'} %>
      <%= f.input :password_confirmation, :required => true, input_html: {:style=> 'width: 350px'} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
