<%- model_class = Device -%>
<div class="row">
  <div class="span6"> 
    <% if @lab %>
      <h4>
        The <%= link_to "#{@lab.gl.fullname} Lab", @lab %>: <%= @lab.devices_count %> Devices
        <%= link_to "", new_lab_device_path(current_user.lab), class: 'fa fa-plus-square btn btn-warning' %>
      </h4>  
    <% elsif params[:user_id].present? %>        
      <h3>
        My devices
        <%= link_to "", new_lab_device_path(current_user.lab), class: 'fa fa-plus-square btn btn-warning' %>
      </h3>
      <p><%= link_to "#{@user.lab.gl.fullname} lab's devices", lab_devices_path(current_user.lab) %></p>
    <% end %>
    <% if params[:tag] %>
      <h3>Devices tagged with <%= "#{params[:tag]}" %></h3>
    <% end %>    
    <% if params[:user_id].present? %>
      <%= simple_form_for user_devices_path(current_user.lab), method: :get do %>
        <%= text_field_tag :search, params[:query],
                                    class: "search-field",
                                    placeholder: "Search your devices",
                                    data: { provide: :typeahead, source: current_user.devices.pluck(:name).uniq },
                                    autocomplete: :off  %>
      <% end %>
    <% elsif params[:lab_id].present? %>
      <%= form_tag lab_devices_path, method: :get do %>
        <%= text_field_tag :search, params[:query],
                                    class: "search-field",
                                    placeholder: "Search lab / public devices",
                                    data: { provide: :typeahead, source: @lab.devices.pluck(:name).uniq },
                                    autocomplete: :off  %>
        <%#= select_tag(:reagent_search_scope, options_for_select([['Lab only', 1], ['Public', 2]])) %>
        <ul class="nav nav-pills nav-justified">
          <li class="active"><a href="#notifications" data-toggle="tab">Lab</a></li>
          <li><a href="#activity" data-toggle="tab">+ Institute</a></li>
          <li><a href="#messages" data-toggle="tab">+ Local</a></li>
        </ul><br>
      <% end %>
    <% end %>
</div>
  <div class="span5">
    <% cache("lab_devices", expires_in: 1.hour) do %>
      <div id='chart'>
        <%= render_chart(@chart, 'chart') %>
      </div>
    <% end %>
  </div>
  <div class="span12">
    <hr>
    <%= will_paginate @devices %>
    <%= render 'devices' %>
    <%= will_paginate @devices %>
  </div>
</div>