<%- model_class = Device -%>
<div class="row">
  <div class="span6"> 
    <% if @lab %>
      <%= render partial: 'lab_device_count' %>
    <% elsif params[:user_id].present? %>        
      <h3>
        My devices
        <%= link_to "", new_lab_device_path(current_user.lab), class: 'fa fa-plus-square btn btn-warning' %>
      </h3>
      <p><%= link_to "#{@user.lab.gl.fullname} lab's devices", lab_devices_path(current_user.lab) %></p>
    <% end %>
    <% if params[:tag] %>
      <h3>Devices tagged with <%= "#{params[:tag]}" %></h3>
    <% end %>    
    <% if params[:user_id].present? %>
      <%= simple_form_for user_devices_path(current_user.lab), method: :get do %>
        <%= text_field_tag :search, params[:query],
                                    class: "search-field",
                                    placeholder: "Search your devices",
                                    # data: { provide: :typeahead, source: current_user.devices.pluck(:name).uniq },
                                    autocomplete: :on  %>
      <% end %>
    <% elsif params[:lab_id].present? %>
      <%= form_tag lab_devices_path, method: :get do %>
        <%= text_field_tag :search, params[:query],
                                    class: "search-field",
                                    placeholder: "Search lab / public devices",
                                    # data: { provide: :typeahead, source: @lab.devices.pluck(:name).uniq },
                                    autocomplete: :on  %>
        <br>
      <% end %>
    <% end %>
  </div>
  <div class="span12" id="ajax_div">
    <hr>
    <div id="paginator-top">
      <%= paginate @devices, remote: true,
                             theme: 'twitter-bootstrap', 
                             pagination_class: 'pagination-small pagination-centered' %>
    </div>

    <div id="devices">
      <%= render 'devices' %>
    </div>
    
    <div id="paginator-bottom">
      <%= paginate @devices, remote: true,
                             theme: 'twitter-bootstrap', 
                             pagination_class: 'pagination-small pagination-centered' %>
    </div>
  </div>
</div>