<%- model_class = Device -%>
<div class="row">
 <div class="span6"> 
  <% if params[:lab_id].present? %>
    <h4>The <%= link_to "#{@lab.gl.fullname} Lab", @lab %>: <%= @lab.devices_count %> Devices</h4>  
  <% elsif params[:user_id].present? %>        
    <h3>My devices</h3>
    <p><%= link_to "#{@user.lab.gl.fullname} lab's devices", lab_devices_path(current_user.lab) %></p>
  <% end %>

  <% if params[:tag] %>
    <h3>Devices tagged with <%= "#{params[:tag]}" %></h3>
  <% end %>

  <% if params[:user_id].present? %>
    <%= form_tag user_devices_path(current_user.lab), method: :get do %>
      <%= text_field_tag :search, params[:query],
                                  class: "search-field",
                                  placeholder: "Search by name, tag, UID or serial"  %>
    <% end %>
  <% elsif params[:lab_id].present? %>
    <%= form_tag lab_devices_path, method: :get do %>
      <%= text_field_tag :search, params[:query],
                                  class: "search-field",
                                  placeholder: "Search by name, tag, UID or serial"  %>
      <%= select_tag(:reagent_search_scope, options_for_select([['Lab', 1], ['+ Institute', 2], ['+ Local institutes', 3]])) %>
    <% end %>
  <% end %>
  <%= link_to " Add device", new_lab_device_path(current_user.lab), class: 'fa fa-plus-square btn btn-warning' %>
<br><br>
</div>
  <div class="span5">
    <% cache @chart do %>
      <div id='chart'></div>
        <%= render_chart(@chart, 'chart') %>
      </div>
    <% end %>
  </div>
</div>
<br><br>
<%= render 'devices' %>
<%= will_paginate @devices, class: 'text-center lead' %>
