<%- model_class = Device -%>
<% cache @device do %>
  <% title "Devices: " + fullname(@device) %>
  <div class="row">
    <div class="span6">
      <% if @device.icon.present? %>
        <%= image_tag(@device.icon.url.to_s, class: "img-rounded").html_safe %><br>
      <% end %>
      <h3><%= fullname(@device) %></h3>
      <h4><%= @device.category.titleize %></h4>
      <h4><%= link_to "The #{@device.gl.fullname} lab", @device.lab %></h4>

      <h4>
        <% if !@device.status? %>
          <span class="label label-danger">Offline</span><br><br>
        <% end %>
      </h4>

      <dl class="dl-vertical">
        <% unless @device.location.empty? %>
          <dt><strong><%= model_class.human_attribute_name(:location) %></strong></dt>
          <dd><%= @device.location %></dd><br>
        <% end %>

         <% if @device.uid? %>
          <dt>Unique ID</dt>
          <dd><%= @device.uid %></dd><br>
        <% end %>
        
        <% unless @device.users.empty? %>
          <dt><strong>Linked members(s)</strong></dt>
          <% @device.users.each do |user| %>
          <dd><%= link_to user.fullname, user %></dd>
          <% end %><br>
        <% end %>

        <% if @device.serial? %>
          <dt><strong><%= model_class.human_attribute_name(:serial) %> #</strong></dt>
          <dd><%= @device.serial %></dd><br>
        <% end %>    

        <% if @device.price? %>
          <dt><strong><%= model_class.human_attribute_name(:price) %></strong></dt>
          <dd><%= number_to_currency(@device.price) %></dd><br>
        <% end %>

        <% unless @device.tag_list.empty? %>
          <dt><strong><%= model_class.human_attribute_name(:tags) %></strong></dt>
          <dd><%= raw @device.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></dd><br>
        <% end %>

        <% if @device.product_url? %>
          <dt>Product website:</dt>
          <dd><%= link_to "#{@device.product_url}", url_with_protocol(@device.product_url), target: "_blank" %></dd><br>
        <% end %>

        <% if @device.purchasing_url? %>
          <dt>Purchasing website:</dt>
          <dd><%= link_to "#{@device.purchasing_url}", url_with_protocol(@device.purchasing_url), target: "_blank" %></dd><br>
        <% end %>

         <% if @device.pdf? %>
          <dt>Attachments</dt>
          <dd><%= link_to "#{ @device.pdf_file_name }",@device.pdf.url %></dd><br>
        <% end %>
         <br>
      </dl>
      <div class="btn-group">
        <%= link_to ' Back', lab_devices_path(@device.lab), class: 'btn'  %>
        <%= link_to ' Edit', edit_device_path(@device), class: 'icon-edit btn btn-warning' %>
        <%= link_to ' Destroy', device_path(@device), method: 'delete', class: 'icon-trash btn btn-danger' %>
        <%= link_to ' Clone', clone_device_path(@device), class: 'icon-code-fork btn btn-info' %>
      </div>
      <hr><br>
    </div>
    <div class="span6 pull-left">
      <!-- Nav panes -->
      <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#history" data-toggle="tab">History</a></li>
        <li class="disabled"><a href="#" data-toggle="tab">Messages</a></li>
      </ul><br>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade in active" id="history">
          <%= will_paginate @activities %>
          <%= render 'activities' %>
          <%= will_paginate @activities %>
        </div>
        <div class="tab-pane fade" id="messages">MESSAGES</div>
      </div>
    </div>
    </div>
  </div>
<% end %>