<%- model_class = Device -%>
<% title "Devices: " + fullname(@device) %>

<div class="row">
  <div class="span6">
    <% if @device.icon.present? %>
      <%= image_tag(@device.icon_url(:large).to_s, class: "img-rounded").html_safe %><br>
    <% end %>
    <h3><%= fullname(@device) %></h3>
    <h4><%= link_to "#{@device.gl.fullname} lab", @device.lab %></h4>

    <dl class="dl-vertical">
      <dt><strong>Status</strong></dt>
      <% if @device.status? %>
        <dd class="label label-success">Online</dd><br><br>
      <% else %>
        <dd class="label label-danger">Offline</dd><br><br>
      <% end %>

      <dt><strong><%= model_class.human_attribute_name(:category) %></strong></dt>
      <dd><%= @device.category.titleize %></dd><br>    
      
      <% unless @device.users.empty? %>
        <dt><strong>Linked members(s)</strong></dt>
        <% @device.users.each do |user| %>
        <dd><%= link_to user.fullname, user %></dd>
        <% end %><br>
      <% end %>

      <% unless @device.location.empty? %>
        <dt><strong><%= model_class.human_attribute_name(:location) %></strong></dt>
        <dd><%= @device.location %></dd><br>
      <% end %>

      <% if @device.serial? %>
        <dt><strong><%= model_class.human_attribute_name(:serial) %> #</strong></dt>
        <dd><%= @device.serial %></dd><br>
      <% end %>

      <% if @device.uid? %>
        <dt>Unique ID</dt>
        <dd><%= @device.uid %></dd><br>
      <% end %>

      <% if @device.url? %>
        <dt>Website:</dt>
        <dd><%= link_to "#{@device.url}", url_with_protocol(@device.url), :target => "_blank" %></dd><br>
      <% end %>

      <% if @device.price? %>
        <dt><strong><%= model_class.human_attribute_name(:price) %></strong></dt>
        <dd><%= number_to_currency(@device.price) %></dd><br>
      <% end %>

      <% unless @device.tag_list.empty? %>
        <dt><strong><%= model_class.human_attribute_name(:tags) %></strong></dt>
        <dd><%= raw @device.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></dd><br>
      <% end %>
       <br>
    </dl>
    <div class="btn-group">
      <%= link_to ' Back', lab_devices_path(@lab), class: 'btn'  %>
      <%= link_to ' Edit', edit_device_path(@device), class: 'icon-edit btn btn-warning' %>
      <%= link_to ' Destroy', device_path(@device), method: 'delete', class: 'icon-trash btn btn-danger' %>
      <%= link_to ' Clone', clone_device_path(@device), class: 'icon-code-fork btn btn-info' %>
    </div>
    <hr><br>
  </div>
  <div class="span6 pull-left">
    <h4>Device history:</h4><br>
    <table>
      <% @activities.each do |activity| %>
        <% if activity.owner && activity %>      
          <tr>
            <%= link_to activity.owner.fullname, activity.owner if activity.owner %> -
            <%= render_activity activity %> <%= time_ago_in_words(activity.created_at) %> ago <%= badging(activity) %>
          </tr>
          <br><br>
        <% end %>
      <% end %>        
    </table>
  </div>
</div>
