<span class="text-center">
	<h2>Group Leader sign up</h2>
	<h4><%= link_to "Lab members sign up here", new_user_registration_path %></h4>
</span>
<br>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true, input_html: { style: 'width: 350px' }  %>

    <%= f.input :institute do %>
      <%= f.select :institute, Institute.all.order(:name).map { |r| [r.name, r.id] }, include_blank: true %>
    <% end %>

     <%= f.input :department do %>
      <%= f.select :department, Department.order(:name).map { |r| [r.name, r.id] }, include_blank: true %>
    <% end %>  
    <%= f.input :password, :required => true, input_html: { style: 'width: 350px' }  %>
    <%= f.input :password_confirmation, :required => true, input_html: { style: 'width: 350px' }  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "group_leaders/shared/links" %>