<%= simple_form_for [@device, @booking] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :start_time, as: :text, input_html: { id: 'datetimepicker_start', readonly: 'readonly' } %>
    <%= f.input :end_time, as: :text, input_html: { id: 'datetimepicker_end', readonly: 'readonly' } %>
    <%= f.input :device_id, as: :hidden %>
    <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
  </div>

  <div>
    <%= f.button :submit, class: 'btn-large btn-warning', id: 'item_submit' %>
  </div>
<% end %>
