<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @booking.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @booking.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @booking.start_time.to_formatted_s(:short) %>
</p>

<p>
  <strong>End time:</strong>
  <%= @booking.end_time.to_formatted_s(:short) %>
</p>

<p>
  <strong>All day?:</strong>
  <%= @booking.all_day ? "Yes" : "No"  %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @booking.duration %>
</p>

<p>
  <strong>Device:</strong>
  <%= link_to @booking.device.fullname, @booking.device %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @booking.user.fullname, @booking.user %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', device_bookings_path(@device) %>
