<%= ajax_links :section_id => "comments" do %>
  <h4><%= will_paginate @comments %></h4>
<% end %>
<%= ajax_loadzone do %>
  <%= render 'notifications' %>
<% end %>
<%= ajax_links :section_id => "comments" do %>
  <h4><%= will_paginate @comments %></h4>
<% end %>