<% @comments.each do |comment| %>
<span id="<%= comment.id %>">
	<div class="spinner" id="spinner-<%= comment.id %>">TESTING</div>
	<p class="list-group-item-heading lead">
		<%= time_ago_in_words(comment.created_at) %> ago
	</p>
	<h4 class="text-group-item-text">
			<%= comment.comment %>		

		<% if @user == current_user %>
			<%= link_to comment, method: :delete, remote: true do %>
		  	<%= fa_icon "minus-square-o", class: "fa-lg fa-fw pull-right", title: "Delete" %>
	  	<% end %>	
	  <% end %>
	</h4>
	<hr>
</span>
<% end %>