<%= ajax_links :section_id => "user_activity" do %>
  <h4><%= will_paginate @activities %></h4>
<% end %>
<%= ajax_loadzone do %>
  <%= render 'user_activities' %>
<% end %>
<%= ajax_links :section_id => "user_activity" do %>
  <h4><%= will_paginate @activities %></h4>
<% end %>