<%- model_class = User -%>
<div class="page-header">
  <h3>
    <% if params[:tag] %>
      <%= "Nearby scientists interested in #{params[:tag]}" %>
    <% else %>
      <%= link_to @lab do %>
       <i class="icon-group"></i><%= " #{@lab.name} lab members" %>
       <% end %>
    <% end %>
  </h3>
</div>
 
<%= render 'approvals' %>

<%= render 'users' %>

