<%- model_class = User -%>
<div class="page-header">
  <h3>The <%= link_to "#{@lab.name} Lab", @lab %> members</h3>
  <% if current_user.department.present? %>
    <h4><%= link_to "#{ @lab.department.name }", @lab.department %></h4>
  <% end %>
  <h5 class="text-muted"><%= link_to "#{ @lab.institute.name }", @lab.institute %></h5>
</div>

 <% if @approval > 0 && current_user.gl_lm? && current_user.lab_id == @lab.id %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>E-mail</th>
        <% if current_user.gl_lm? && @approval > 0 %>     
          <th>Awaiting authorization</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @approvals.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td>
            <%= link_to 'Click to authorize', active_user_path(user), class: 'btn btn-info' %>
          </td>   
          <% end %>    
        </tr>
    </tbody>
  </table>
<% end %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Joined</th>
    </thead>
    <tbody id="approved">
      <% @users.each do |user| %>
        <tr>
          <% if user.fullname.present? %>
            <td><%= link_to user.fullname, user %></td>
          <% else %>
            <td><%= link_to user.id, user %></td>
          <% end %>
          <% if user.description.present? || user.gl_lm? %>
            <% if user.gl? %>      
              <td>Group Leader</td>
            <% elsif user.lm? %>
              <td>Lab Manager</td>
            <% elsif user.description? %>
              <td><%= user.description.humanize %></td>
            <% end %>
          <% else %>
            <td></td>
          <% end %>
          <td><%= time_ago_in_words(user.created_at) %> ago</td>   
        </tr>
      <% end %>
    </tbody>
  </table>

