<%- model_class = User -%>
<div class="page-header">
  <h3>The <%= link_to "#{@lab.name} Lab", @lab %> members</h3>
  <% if current_user.department.present? %>
    <h4><%= link_to "#{ @lab.department.name }", @lab.department %></h4>
  <% end %>
  <h5 class="text-muted"><%= link_to "#{ @lab.institute.name }", @lab.institute %></h5>
</div>

<% if current_user.gl_lm? && !params[:approved].present? && current_user.lab == @lab && @approval > 0 %>
  <%= link_to "Members awaiting approval", lab_users_path(params[:lab_id], :approved => "false"), :class => 'btn btn-warning' %>
<% end %>

<% if params[:approved].present? %>
  <h3>Members awaiting authorization</h3>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>E-mail</th>
      <th>Role</th>
      <th>Joined</th>      
      <th>Current status</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <% if user.fullname.present? %>
          <td><%= link_to user.fullname, user %></td>
        <% else %>
          <td><%= link_to user.id, user %></td>
        <% end %>
        <td><%= user.email %></td>
        <% if user.description.present? || user.gl? %>      
          <td><%= user.role == "group_leader" ? "Group Leader" : user.description.humanize %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= time_ago_in_words(user.created_at) %> ago</td>
        <td><% if !user.approved? %>
              <%= link_to "Awaiting authorization", "#" %>
            <% else %>
              Active
            <% end %>
        </td>       
      </tr>
    <% end %>
  </tbody>
</table>
<% if params[:approved].present? %>
  <br>
  <%= link_to "Back", lab_users_path(current_user.lab_id), :class => 'btn' %>
<% end %> 

