<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:lab_id) %></th>
      <th><%= model_class.human_attribute_name(:approved) %></th>
      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th><%= model_class.human_attribute_name(:role) %></th>
      <th><%= model_class.human_attribute_name(:institute_id) %></th>
      <th><%= model_class.human_attribute_name(:department_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to current_user.id, lab_user_path(current_user.lab, current_user) %></td>
        <td><%= user.email %></td>
        <td><%= user.lab_id %></td>
        <td><%= user.approved %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.role %></td>
        <td><%= user.institute_id %></td>
        <td><%= user.department_id %></td>
        <td><%=l user.created_at %></td>
        <td>
          <% if current_user == user %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_registration_path, :class => 'btn btn-mini' %>
          
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user_registration_path(user),
                      :method => :delete,
                      :data => { :confirm => "Are you sure you want to delete your account?" },
                      :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_registration_path,
            :class => 'btn btn-primary' %>
