<%- model_class = User -%>
<div class="page-header">
  <h3>The <%= "#{current_user.lab.name}" %> Lab</h3>
  <% if current_user.department.present? %>
    <h4><%= "#{current_user.department.name}" %></h4>
  <% end %>
  <h5 class="text-muted"><%= "#{current_user.institute.name}" %></h5>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th>Name</th>
      <th><%= model_class.human_attribute_name(:role) %></th>
      <th>Joined</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, lab_user_path(current_user.lab, user)  %></td>
        <td><%= user.fullname %></td>
        <td><%= user.role.humanize %></td>
        <td><%= time_ago_in_words(user.created_at) %> ago</td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_registration_path,
            :class => 'btn btn-primary' %>
