<%- model_class = User -%>
<% cache @user do %>
  <% title 'People: ' + @user.fullname %>  
  <div class="row">
    <div class="span5">
      <% if @user.icon.present? %>
        <% if @user.icon_processing? %>          
          <h4><%= fa_icon 'spinner lg fw spin' %> Processing image...</h4>
        <% else %>
        <div class="pull-left user-icon-portrait inline-block">
          <%= image_tag(@user.icon.url, class: 'img-rounded').html_safe %>
        </div>
        <% end %>
      <% end %>
      <span class="user inline-block">
        <h3>
          <% if current_user.gl? %>
            <%= link_to "#{@user.fullname}", @user.lab %>
          <% else %>
            <%= "#{@user.fullname}" %>
          <% end %>
          <% if current_user == @user %>
            <small>
              <%= link_to edit_user_registration_path do %>
                <%= fa_icon "edit lg fw"  %>
              <% end %>
            </small>
          <% end %>
          <br>
          <small class="lead">
            <% if @user.gl? %>
              <i class="fa fa-lg fa-lightbulb-o"></i>
            <% elsif @user.lm? %>
              <i class="fa fa-lg fa-eye"></i>
            <% else %>
              <i class="fa fa-lg fa-user"></i>
            <% end %>
            <%= " #{@user.role.humanize}" %>
          </small>
          <br>
          <small class="lead">
            <% if @user.points > 0 %>
              <%= number_with_delimiter(@user.cached_total_points) || '0' %> pts <br>
              <%= pluralize(@user.cached_daily_points || '0', 'pt' )%>/day

                <div id='chart' data-toggle='tooltip' title='60 day trend' data-placement='bottom'></div>
                <%= render_chart @chart, 'chart' %>

            <% end %>
          </small>  
          
          <ul class="inline">
            <br>
            <% if @user.email.present? %>
            <li>          
              <%= mail_to @user.email do %>
                <%= fa_icon "envelope-o lg fw", title: "Email"  %>
              <% end %>
            </li>
            <% end %>

            <% if @user.linkedin_url.present? %>
             <li>          
              <%= link_to @user.linkedin_url, target: "_blank"  do %>
                <%= fa_icon "linkedin lg fw", title: "LinkedIn", id: "linkedin" %>
              <% end %>
            </li>          
            <% end %>

            <% if @user.xing_url.present? %>
             <li>          
              <%= link_to @user.xing_url, target: "_blank"  do %>
                <%= fa_icon "xing lg fw", title: "Xing", id: "xing" %>
              <% end %>
            </li>          
            <% end %>

            <% if @user.twitter_url.present? %>
             <li>          
              <%= link_to @user.twitter_url, target: "_blank"  do %>
                <%= fa_icon "twitter lg fw", title: "Twitter", id: "twitter" %>
              <% end %>
            </li>          
            <% end %>

            <% if @user.facebook_url.present? %>
             <li>          
              <%= link_to @user.facebook_url, target: "_blank"  do %>
                <%= fa_icon "facebook lg fw", title: "Facebook", id: "facebook" %>
              <% end %>
            </li>          
            <% end %>          
          </ul>
          <dl class="dl-horizontal">          
            <% if @user.lab.present? %>       
              <h5>
                <%= link_to @user.lab, class: "inline-block" do %>
                <i class="fa fa-fw fa-lg fa-users"></i><%= " The #{@user.lab.gl.fullname} lab" %>
                <% end %>
              </h5>
            <% end %>
            <% if @user.department.present? %>
            <h5>
              <%= link_to institute_department_path(@user.institute, @user.department) do %>
              <i class="fa fa-fw fa-lg fa-sitemap"></i><%= " #{@user.department.name}" %>
              <% end %>
            </h5>
            <% end %>

            <% if @user.institute.present? %>
              <h5>
                <%= link_to @user.institute do %>
                <i class="fa fa-fw fa-lg fa-building-o"></i><%= " #{@user.institute.name}" %>
                <% end %>
              </h5>
            <% end %>
          </dl>        
        </h3>
       </span> 
        <hr>
        <% if @user.pdf? %>
          <h4><%= fa_icon "paperclip lg fw"%> Attachment</h4>
          <h5><%= link_to "#{ @user.pdf_file_name }", @user.pdf.url, target: "_blank"  %> - updated <%= time_ago_in_words(@user.pdf_updated_at) %> ago</span>
          </h5>         
          <hr> 
        <% end %>       
    </div>
<% end %>

  <div class="span7 inline-block">
    <!-- Nav panes -->
    <ul class="nav nav-pills nav-justified">
      <li class="<%= 'active' if !params[:tab] || params[:tab] == 'comments' %>"><a href="#comment" data-toggle="pill">Notifications</a></li>
      <li class="<%= 'active' if params[:tab] == 'activity' %>"><a href="#activity" data-toggle="pill">Activity</a></li>
      <li class="disabled"><a href="#message" data-toggle="pill">Messages</a></li>
    </ul><br>
    <!-- Tab panes -->
    <div class="tab-content" id="ajax_div">
      <div class="<%= if (params[:tab] == 'comments' || !params[:tab]) then 'tab-pane fade in active'  else 'tab-pane fade in' end %>" id="comment">
        <% if @comments.present? %>
          <div id="paginator-comments-top">
            <%= paginate @comments, remote: true,
                                    theme: 'twitter-bootstrap',
                                    param_name: 'comments',
                                    params: { tab: 'comments' },
                                    pagination_class: 'pagination-small pagination-centered' %>
          </div>
          <div id="comments">
            <%= render 'comments' %>
          </div>
          <div id="paginator-comments-bottom">
            <%= paginate @comments, remote: true,
                                    theme: 'twitter-bootstrap',
                                    param_name: 'comments',
                                    params: { tab: 'comments' },
                                    pagination_class: 'pagination-small pagination-centered' %>
          </div>
        <% else %>
          <br>
          <h4 class="text-center">No notifications</h4>
        <% end %>
      </div>
      <div class="<%= if params[:tab] == 'activity' then 'tab-pane fade in active'  else 'tab-pane fade in' end%>" id="activity">
      <% if @activities.present? %>
        <div id="paginator-activities-top">
          <%= paginate @activities, remote: true,
                                    theme: 'twitter-bootstrap',
                                    param_name: 'activities',
                                    params: { tab: 'activity' },
                                    pagination_class: 'pagination-small pagination-centered' %>
        </div>
        <div id="activities">
          <%= render 'activities' %>
        </div>
        <div id="paginator-activities-bottom">
          <%= paginate @activities, remote: true,
                                    theme: 'twitter-bootstrap',
                                    param_name: 'activities',
                                    params: { tab: 'activity' },
                                    pagination_class: 'pagination-small pagination-centered' %>
        </div>
      <% else %>
          <br>
          <h4 class="text-center">No recent activities</h4>
      <% end %>
      </div>
      <div class="tab-pane fade" id="message">

        <% if @messages.present? %>
        <div id="paginator-messages-top">
          <%= paginate @messages, theme: 'twitter-bootstrap',
                                  param_name: 'messages',
                                  params: { tab: 'message' },
                                  pagination_class: 'pagination-small pagination-centered' %>
        </div>
        <div id="activities">
          <br>
          <%= render 'messages' %>
        </div>
        <div id="paginator-messages-bottom">
          <%= paginate @messages, theme: 'twitter-bootstrap',
                                    param_name: 'messages',
                                    params: { tab: 'message' },
                                    pagination_class: 'pagination-small pagination-centered' %>
        </div>
        <% else %>
          <br>
          <h4 class="text-center">No recent messages</h4>
        <% end %>
      </div>
    </div>
  </div>
</div>

