<%- model_class = User -%>
<% title 'People: ' + @user.fullname %>  
<div class="row">
  <div class="span6">
    <% if @user.icon.present? %>
      <div class="pull-left user-icon-portrait">
        <%= image_tag(@user.icon.url(:portrait), class: "img-rounded").html_safe %>
      </div>
    <% end %>
    <span class="user inline-block">
      <h3>
        <%= "#{@user.fullname}" %>
      <br>
        <% if @user.icon.blank? %>
          <small class="lead">
            <% if @user.gl? %>
              <i class="fa fa-lg fa-lightbulb-o"></i>
            <% elsif @user.lm? %>
              <i class="fa fa-lg fa-eye"></i>
            <% else %>
              <i class="fa fa-lg fa-user"></i>
            <% end %>
            <%= " #{@user.role.humanize}" %>
          </small>
        <% else %>
            <small class="lead">
              <%= " #{@user.role.humanize}" %>
            </small>
          <% end %>
        <br>
        <small class="lead"><%= @user.cached_total_points %> pts</small>  
        <% if current_user == @user %>
          <h5>
            <%= link_to edit_user_registration_path do %>
               <i class="fa fa-edit"></i>Edit
            <% end %>
          </h5>
       </span>
        <% end %>
          <dl class="dl-horizontal">          
          <h5>
            <%= link_to @user.lab, class: "inline-block" do %>
              <i class="fa fa-fw fa-lg fa-users"></i><%= " The #{@user.lab.gl.fullname} lab" %>
            <% end %>
          </h5>
          <% if @user.department.present? %>
            <h5>
              <%= link_to institute_department_path(@user.institute, @user.department) do %>
                <i class="fa fa-fw fa-lg fa-sitemap"></i><%= " #{@user.department.name}" %>
              <% end %>
            </h5>
          <% end %>
          <h5>
            <%= link_to @user.institute do %>
              <i class="fa fa-fw fa-lg fa-building-o"></i><%= " #{@user.institute.name}" %>
            <% end %>
          </h5>
        </dl>
    </h3>
  </div>
  <div class="span6">
    <!-- Nav panes -->
    <ul class="nav nav-pills nav-justified">
      <li class="active"><a href="#notifications" data-toggle="pill">Notifications</a></li>
      <li><a href="#activity" data-toggle="pill">Activity</a></li>
      <li class="disabled"><a href="#messages" data-toggle="pill">Messages</a></li>
    </ul><br>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade in active" id="notifications">
        <%= will_paginate @notifications, param_name: 'notifications' %>
        <%= render 'notifications' %>
        <%= will_paginate @notifications, param_name: 'notifications' %>
      </div>
      <div class="tab-pane fade" id="activity">
        <%= will_paginate @activities, param_name: 'activities' %>
        <%= render 'activities' %>
        <%= will_paginate @activities, param_name: 'activities' %>
      </div>
      <div class="tab-pane fade" id="messages">

      </div>
      </div>
    </div>
  </div>

