<%- model_class = User -%>

<% title "People: " + @user.fullname %>

<div class="page-header">
  <h3>
    <div class="row">
      <% if @user.icon.present? %>
        <div class="span2 pull-left user-icon-portrait">
            <%= image_tag(@user.icon_url(:portrait).to_s).html_safe %><br>
        </div>
      <% end %>

     <%= "#{@user.fullname}" %>
        <% if current_user == @user %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_registration_path, :class => 'btn-mini btn-success' %>
        <% end %>
      <br>
        <% if @user.icon.blank? %>
          <small class="lead">
            <% if @user.gl? %>
              <i class="icon-lightbulb"></i>
            <% elsif @user.lm? %>
              <i class="icon-eye-open"></i>
            <% else %>
              <i class="icon-user"></i>
            <% end %>
            <%= " #{@user.role.humanize}" %>
          </small>
        <% else %>
          <small class="lead">
            <%= " #{@user.role.humanize}" %>
          </small>
        <% end %>      
    </div>
  </h3>
</div>

<dl class="dl-horizontal">
  <h5>
    <%= link_to @lab do %>
      <i class="icon-group"></i><%= " The #{@lab.lab_name} lab" %>
    <% end %>
  </h5>  
  <% if @department.present? %>
    <h5>
      <%= link_to @department do %>
        <i class="icon-sitemap"></i><%= " #{@department.name}" %>
      <% end %>
    </h5>
  <% end %>
  <h5>
    <%= link_to @institute do %>
      <i class="icon-building"></i><%= " #{@institute.name}" %>
    <% end %>
  </h5>
</dl>

<hr>

<dl class="dl-horizontal">

  <div class='row-fluid'>
    <%= link_to lab_reagents_path(@lab), class: "btn-large" do %>
      <i class="icon-beaker"> Reagents</i>
    <% end %>
    <%= link_to "#", class: "btn-large" do %>
      <i class="icon-cogs"> Equipment</i>
    <% end %>
    <%= link_to "#", class: "btn-large" do %>
      <i class="icon-bar-chart"> Statistics</i>
    <% end %>
  </div>
</dl>

<div class="row">
  <div class="span3">
    <h4>Recent reagents</h4>
      <% for reagent in @reagents do %>
        <p><%= link_to "#{reagent.name} #{reagent.remaining}%", reagent %></p>
      <% end %>
  </div>
  <div class="span3">
    <h4>Put Recent devices here</h4>
      <% for reagent in @reagents do %>
      <p><%= link_to reagent.name, reagent %></p>
      <% end %>
  </div>
</div>

