<%- model_class = User -%>
<% title 'People: ' + @user.fullname %>  
<div class="row">
  <div class="span6">
    <h3>
      <% if @user.icon.present? %>
        <div class="pull-left user-icon-portrait">
          <%= image_tag(@user.icon.url(:portrait), class: "img-rounded").html_safe %>
        </div>
      <% end %>
      <span class="inline-block">
        <%= "#{@user.fullname}" %>
      <br>
        <% if @user.icon.blank? %>
          <small class="lead">
            <% if @user.gl? %>
              <i class="fa fa-lg fa-lightbulb-o"></i>
            <% elsif @user.lm? %>
              <i class="fa fa-lg fa-eye"></i>
            <% else %>
              <i class="fa fa-lg fa-user"></i>
            <% end %>
            <%= " #{@user.role.humanize}" %>
          </small>
        <% else %>
            <small class="lead">
              <%= " #{@user.role.humanize}" %>
            </small>
          <% end %>
          <br>
          <small class="lead"><%= @user.cached_total_points %> pts</small>
        </span>
        <% if current_user == @user %>
          <h5>
          <%= link_to edit_user_registration_path do %>
             <i class="fa fa-edit"></i>Edit
          <% end %>
        </h5>
        <% end %>
        <dl class="dl-horizontal">
        <hr>
        <h5>
          <%= link_to @user.lab, class: "inline-block" do %>
            <i class="fa fa-fw fa-lg fa-users"></i><%= " The #{@user.lab.gl.fullname} lab" %>
          <% end %>
        </h5>
        <% if @user.department.present? %>
          <h5>
            <%= link_to institute_department_path(@user.institute, @user.department) do %>
              <i class="fa fa-fw fa-lg fa-sitemap"></i><%= " #{@user.department.name}" %>
            <% end %>
          </h5>
        <% end %>
        <h5><br>
          <%= link_to @user.institute do %>
            <i class="fa fa-fw fa-lg fa-building-o"></i><%= " #{@user.institute.name}" %>
          <% end %>
        </h5>
        <hr>
        <% if current_user == @user %>
          <%= link_to new_message_path do %>
            <i class="fa fa-fw fa-lg fa-bullhorn"></i>Feedback
          <% end %><br><br>
          <%= link_to new_user_invitation_path do %>
            <i class="fa fa-fw fa-lg fa-thumbs-o-up"></i>Invitations
          <% end %>
        <% end %>
      </dl>
    </h3>
    <hr>
  </div>
  <div class="span6">
    <!-- Nav panes -->
    <ul class="nav nav-pills nav-justified">
      <li class="active"><a href="#notifications" data-toggle="tab">Notifications</a></li>
      <li><a href="#activity" data-toggle="tab">Activity</a></li>
      <li class="disabled"><a href="#" data-toggle="tab">Messages</a></li>
    </ul><br>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade in active" id="notifications"> <%= render 'notifications' %> </div>
      <div class="tab-pane fade" id="activity"><%= render 'activities' %></div>
      <div class="tab-pane fade" id="messages"><%= render 'notifications' %></div>
    </div>
  </div>
</div>

