<%- model_class = User -%>
<div class="page-header">
  <h3><%= @user.fullname.blank? ? "User #{@user.id}" : "#{@user.fullname}" %><br>
    <% if @user.description.present? || @user.gl? %>
      <small class="lead"><%= @user.gl? ? "Group Leader" : "#{@user.description.humanize}" %></small>
    <% end %>
  </h3>

  <% if @user.gl? && @user.lab != params[:lab_id] %>
    <h4><%= link_to "The #{@user.lab.name} lab", @user.lab %></h4>
  <% end %>
  <% if @user.department.present? %>
    <h4><%= link_to "#{@user.department.name}", @user.department %></h4>
  <% end %>
  <h5 class="text-muted"><%= link_to "#{@user.institute.name}", @user.institute %></h5>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @user.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_sign_in_at) %>:</strong></dt>
  <dd><%= @user.last_sign_in_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lab_id) %>:</strong></dt>
  <dd><%= @user.lab_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:approved) %>:</strong></dt>
  <dd><%= @user.approved %></dd>
  <dt><strong>Name:</strong></dt>
  <dd><%= @user.fullname %></dd>  
  <dt><strong><%= model_class.human_attribute_name(:role) %>:</strong></dt>
  <dd><%= @user.role %></dd>
  <dt><strong><%= model_class.human_attribute_name(:institute_id) %>:</strong></dt>
  <dd><%= @user.institute_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:department_id) %>:</strong></dt>
  <dd><%= @user.department_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              lab_users_path(@user.lab_id), :class => 'btn'  %>

  <% if current_user == @user %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_user_registration_path, :class => 'btn' %>

    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
          user_registration_path(@user),
          :method => :delete,
          :data => { :confirm => "Are you sure you want to delete your account?" },
          :class => 'btn btn-mini btn-danger' %>
  <% end %>
</div>
