<%- model_class = User -%>
<div class="page-header">
  <h3><%= @user.fullname.blank? ? "User #{@user.email}" : "#{@user.fullname}" %>
  
      <% if current_user == @user %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_user_registration_path, :class => 'btn-small btn-success' %>

      <% end %>
      <br>

      <% if @user.description.present? || @user.gl? %>
        <small class="lead"><%= @user.gl? ? "Group Leader" : "#{@user.description.humanize}" %></small>
      <% end %>
  </h3>

    
</div>

<dl class="dl-horizontal">
  <h5><%= link_to "The #{@lab.name} lab", @lab %></h5>
  <% if @user.department.present? %>
    <h5><%= link_to "#{@user.department.name}", @user.department %></h5>
  <% end %>
  <h5 class="text-muted"><%= link_to "#{@user.institute.name}", @user.institute %></h5>
  <h5>Email: <%= @user.email %></h5>
</dl>