<%- model_class = User -%>
<% cache @user do %>
  <% title 'People: ' + @user.fullname %>  
  <div class="row">
    <div class="span5">
      <% if @user.icon.present? %>
        <% if @user.icon_processing? %>          
          <h4><%= fa_icon "spinner", class: "fa-spin fa-lg fa-fw"  %> Processing image...</h4>
        <% else %>
        <div class="pull-left user-icon-portrait inline-block">
          <%= image_tag(@user.icon.url, class: "img-rounded").html_safe %>
        </div>
        <% end %>
      <% end %>
      <span class="user inline-block">
        <h3>
          <% if current_user.gl? %>
            <%= link_to "#{@user.fullname}", @user.lab %>
          <% else %>
            <%= "#{@user.fullname}" %>
          <% end %>
          <% if current_user == @user %>
            <small>
              <%= link_to edit_user_registration_path do %>
                <%= fa_icon "edit", title: "Edit", class: "fa-lg fa-fw"  %>
              <% end %>
            </small>
          <% end %>
          <br>
          <small class="lead">
            <% if @user.gl? %>
              <i class="fa fa-lg fa-lightbulb-o"></i>
            <% elsif @user.lm? %>
              <i class="fa fa-lg fa-eye"></i>
            <% else %>
              <i class="fa fa-lg fa-user"></i>
            <% end %>
            <%= " #{@user.role.humanize}" %>
          </small>
          <br>
          <small class="lead">
            <% if @user.points > 0 %>
              <%= number_with_delimiter(@user.cached_total_points) || '0' %> pts <br>
              <%= pluralize(@user.cached_daily_points || '0', 'pt' )%>/day
            <% end %>
          </small>  
          
          <ul class="inline">
            <br>
            <% if @user.email? %>
            <li>          
              <%= mail_to @user.email do %>
                <%= fa_icon "envelope-o", title: "Email", class: "fa-lg fa-fw"  %>
              <% end %>
            </li>
            <% end %>

            <% if @user.linkedin_url? %>
             <li>          
              <%= link_to @user.linkedin_url, target: "_blank"  do %>
                <%= fa_icon "linkedin", title: "LinkedIn", class: "fa-lg fa-fw" %>
              <% end %>
            </li>          
            <% end %>

            <% if @user.xing_url? %>
             <li>          
              <%= link_to @user.xing_url, target: "_blank"  do %>
                <%= fa_icon "xing", title: "Xing", class: "fa-lg fa-fw" %>
              <% end %>
            </li>          
            <% end %>

            <% if @user.twitter_url? %>
             <li>          
              <%= link_to @user.twitter_url, target: "_blank"  do %>
                <%= fa_icon "twitter", title: "Twitter", class: "fa-lg fa-fw" %>
              <% end %>
            </li>          
            <% end %>

            <% if @user.facebook_url? %>
             <li>          
              <%= link_to @user.facebook_url, target: "_blank"  do %>
                <%= fa_icon "facebook", title: "Facebook", class: "fa-lg fa-fw" %>
              <% end %>
            </li>          
            <% end %>  

            <% if @user.google_plus_url? %>
             <li>
              <%= link_to @user.google_plus_url, target: "_blank" do %>
                <%= fa_icon "google-plus", title: "Google+", class: "fa-lg fa-fw" %>
              <% end %>
            </li>          
            <% end %>          
          </ul>
          <dl class="dl-horizontal">          
            <% if @user.lab.present? %>       
              <h5>
                <%= link_to @user.lab, class: "inline-block" do %>
                <i class="fa fa-fw fa-lg fa-users"></i><%= " The #{@user.lab.gl.fullname} lab" %>
                <% end %>
              </h5>
            <% end %>
            <% if @user.department.present? %>
            <h5>
              <%= link_to institute_department_path(@user.institute, @user.department) do %>
              <i class="fa fa-fw fa-lg fa-sitemap"></i><%= " #{@user.department.name}" %>
              <% end %>
            </h5>
            <% end %>
            <h5>
              <%= link_to @user.institute do %>
              <i class="fa fa-fw fa-lg fa-building-o"></i><%= " #{@user.institute.name}" %>
              <% end %>
            </h5>
          </dl>        
        </h3>
       </span> 
        <hr>
        <% if @user.pdf? %>
          <h4>Attachment</h4>
          <h5><%= link_to "#{ @user.pdf_file_name }", @user.pdf.url, target: "_blank"  %> - updated <%= time_ago_in_words(@user.pdf_updated_at) %> ago</h5>         
          <hr> 
        <% end %>          
    </div>
<% end %>
  <div class="span7 inline-block">
    <!-- Nav panes -->
    <ul class="nav nav-pills nav-justified">
      <li class="<%= 'active' if !params[:tab] || params[:tab] == 'nots' %>"><a href="#nots" data-toggle="pill">Notifications</a></li>
      <li class="<%= 'active' if params[:tab] == 'activity' %>"><a href="#activity" data-toggle="pill">Activity</a></li>
      <li class="disabled"><a href="#messages" data-toggle="pill">Messages</a></li>
    </ul><br>
    <!-- Tab panes -->
    <div class="tab-content">

      <div class="<%= if (params[:tab] == 'nots' || !params[:tab])then 'tab-pane fade in active'  else 'tab-pane fade in' end%>" id="nots">
        <% if @notifications.present? %>
          <div id="paginator-notifications-top">
            <%= paginate @notifications, theme: 'twitter-bootstrap',
                                         param_name: 'notifications',
                                         params: { tab: 'nots' },
                                         pagination_class: 'pagination-small pagination-centered' %>
          </div>

          <div id="notifications">
            <%= render 'notifications' %>
          </div>

          <div id="paginator-notifications-bottom">
            <%= paginate @notifications, theme: 'twitter-bootstrap',
                                         param_name: 'notifications',
                                         params: { tab: 'nots' },
                                         pagination_class: 'pagination-small pagination-centered' %>
          </div>
        <% else %>
          <br>
          <h4 class="text-center">You have no notifications</h4>
        <% end %>
      </div>

      <div class="<%= if params[:tab] == 'activity' then 'tab-pane fade in active'  else 'tab-pane fade in' end%>" id="activity">
      <% if @activities.present? %>
        <div id="paginator-activities-top">
          <%= paginate @activities, theme: 'twitter-bootstrap',
                                    param_name: 'activities',
                                    params: { tab: 'activity' },
                                    pagination_class: 'pagination-small pagination-centered' %>
        </div>
        <div id="activities">
          <%= render 'activities' %>
        </div>
        <div id="paginator-activities-bottom">
          <%= paginate @activities, theme: 'twitter-bootstrap',
                                    param_name: 'activities',
                                    params: { tab: 'activity' },
                                    pagination_class: 'pagination-small pagination-centered' %>
        </div>
        <% else %>
          <br>
          <h4 class="text-center">You have no recent activities</h4>
        <% end %>
      </div>
      <div class="tab-pane fade" id="messages">
        <% if @messages.present? %>
        <div id="paginator-activities-top">
          <%= paginate @messages, theme: 'twitter-bootstrap',
                                    param_name: 'activities',
                                    params: { tab: 'activity' },
                                    pagination_class: 'pagination-small pagination-centered' %>
        </div>
        <div id="activities">
          <br>
          <%= render 'activities' %>
        </div>
        <div id="paginator-activities-bottom">
          <%= paginate @messages, theme: 'twitter-bootstrap',
                                    param_name: 'activities',
                                    params: { tab: 'activity' },
                                    pagination_class: 'pagination-small pagination-centered' %>
        </div>
        <% else %>
          <br>
          <h4 class="text-center">You have no recent messages</h4>
        <% end %>
      </div>
    </div>
  </div>
</div>

