<%= simple_form_for [@institute, @department], :html => { :class => 'form-inline' } do |f| %>
  <%= f.input :name, label: "Department name" %>
  <%= f.input :address, label: "Department address" %>
  <%= f.input :acronym, placeholder: "Optional" %>
  <%= f.input :url, placeholder: "Optional" %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                institute_departments_path, :class => 'btn' %>
  </div>
<% end %>
