<div class="container-fluid">
	<div class="span12">
			<%= simple_form_for [@institute, @department], :html => { :class => 'form-inline' } do |f| %>
			  <%= f.input :name, input_html: {:style=> 'width: 350px'}, label: "Department name" %>
			  <%= f.input :address, :input_html => { columns: 10, rows: 5 }, input_html: {:style=> 'width: 350px'} %>
			  <%= f.input :url, input_html: {:style=> 'width: 350px'}, 
			  						label: 'Website', placeholder: "Optional" %>

			    <%= f.button :submit, :class => 'btn-primary' %>
			    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
			                institute_departments_path, :class => 'btn' %>

			<% end %>
			<%= render 'gmap' %>
	</div>
</div>

