<%= simple_form_for [@institute, @department], html: { class: 'form-inline' } do |f| %>
<%= f.error_notification %>

  <div class="row">
    <div class="span5"> 
      <%= f.input :name, label: "Department name",
                         placeholder: "Find or create your department", 
                         typeahead: Department.where(institute: current_user.institute).pluck(:name) %>
      
      <%= f.input :address, input_html: { rows: 5, class: "span5" }, as: :text, placeholder: "Optional"  %>
      <%= f.input :room, placeholder: "Optional"  %>
      <%= f.input :url, label: 'Website', placeholder: "Optional" %>

      <%= f.button :submit, class: 'btn-warning' %><br><br>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                  institute_path(@institute), class: 'btn' %>
    </div>
    <div class="span5 pull-right">
      <strong><h4>Department icon</h4></strong>
      <p>.jpeg, .png or .gif images < 2 megabytes</p>
      <% if @department.icon.present? %>
        <%= image_tag(@department.icon.url(:portrait), class: "img-rounded").html_safe %>
        <br><br>
        <%= f.input :delete_icon, as: :boolean, label: false, inline_label: "Delete icon", wrapper_html: { class: "form-inline"} %><br>
      <% end %>
      <%= f.input :icon_remote_url, label: "Enter icon URL" %>
      <h4>or</h4>
      <%= f.file_field :icon %>
    </div>
  </div>
<% end %>



