<%- model_class = Department -%>
<% cache @institute do %>
  <div class="page-header">
    <h2><%= "Departments at #{ @institute.name }"  %></h2>
    <h4 class="text-muted"><%= "#{ pluralize @institute.departments.count, "department" } registered" %></h4>
    <br>
        <%= link_to t('.new', :default => " Add department"),
                  new_institute_department_path(@institute),
                  :class => 'fa fa-plus-square btn btn-warning' %>
        <%= link_to t('.new', :default => " Back"),
                  institute_path(@institute),
                  :class => 'fa fa-rotate-left btn btn-warning' %>
  </div>
<% end %>

<div class="span3">
  <%= render 'department' %>
</div>

<div class="span8">
  
</div>

 


