<%- model_class = Department -%>
<div class="page-header">
  <h3><%= "Departments at #{@institute.name}" %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
    </tr>
  </thead>
  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= link_to department.name, institute_department_path(@institute, department) %></td>
        <td><%= department.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              institute_path(@institute), :class => 'btn'  %>
   <%= link_to t('.new', :default => t("helpers.links.new")),
              new_institute_department_path(@institute),
              :class => 'btn btn-primary' %>
</div>