<%- model_class = Department -%>
<div class="page-header">
  <h3>
    <%= "#{@institute.name}" %><br>
    <%= "#{@department.name}" %>
  </h3>
</div>

<dl class="dl-horizontal">
  <dt><strong>Department</strong></dt>
  <dd><%= @department.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %></strong></dt>
  <dd><%= @department.address %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              institute_path(@institute), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_institute_department_path(@institute, @department), :class => 'btn' %>
</div>
