<%- model_class = Department -%>
<div class="page-header">
  <div class="page-header">
  <h2><%= "#{@department.name}" %></h2>
  <h4 class="text-muted">
    <%= "#{@institute.name}" %>
     <% if @institute.acronym.present? %>
       (<%= "#{@institute.acronym}" %>)
     <% end %>
  </h4>
  <h3 class="text-muted">
    <%= "#{ pluralize @institute.labs.count, "lab" } registered" %>
  </h3>
  
<dl class="dl-vertical">
  <% if @department.url? %>
    <dt><strong>Website</strong></dt>
    <dd><%= link_to "#{@department.url}", @department.url, :only_path => false  %></dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:address) %></strong></dt>
  <dd><%= @department.address %></dd>
</dl>

<% if @department.labs.present? %>
<h4>Labs</h4>
  <% @labs.each do |lab| %>
    <div class="department">
    <p><%= link_to lab.name, institute_department_lab_path(@lab, department), 'data-no-turbolink' => true %></p>
    </div>
  <% end %>
<% end %>

  <%= link_to t('.back', :default => t("helpers.links.back")),
              institute_path(@institute), :class => 'btn',
              'data-no-turbolink' => true   %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_institute_department_path(@institute, @department), :class => 'btn', 'data-no-turbolink' => true %>

   <br>
   <br>

  <%= link_to "Add new lab",
              new_institute_department_lab_path(@institute, @department),
              :class => 'btn' %>

<h4>Nearby Departments</h4>
<ul>
<% for department in @department.nearbys(50) %>
 <li><%= link_to department.name, institute_department_path(@institute, department), 'data-no-turbolink' => true %> (<%= department.distance.round(2) %> km)</li>
<% end %>
</ul>

<%= render 'gmap' %>




