<%= simple_form_for @request, html: { class: 'form-vertical' } do |f| %>
	<%= f.error_notification %>
	<div class="span5">
		<div class="form-inputs"> 
	    <%= f.input :email %>
		  <%= f.input :department, label: "Department (optional)" %>
		  <%= f.input :institute, label: "University or Institute" %>
	    <%= f.button :submit, "Send request!", id: "feedback_submit", class: "btn btn-warning" %>
	  </div>
	</div>
<% end %>