<div class="modal fade" id="braintree_modal">
  <%= image_tag("/images/cse-animation.gif") %>
</div>
<div class="modal fade" id="einstein_modal">
  <%= image_tag("/images/einstein.png") %>
</div>
<div class="modal fade" id="nerd_modal">
  <%= image_tag("/images/nerd.png") %>
</div>

<div class="faq">
	<h1>Frequently Asked Questions</h1>
	<br>

	<h2>General</h2>
	
	<h3>Who can use Infinitory?</h3>
	<h4>Any lab or institute conducting scientific research.</h4>

	<h3>Why use it?</h3>
	<h4>Infinitory improves lab spending efficiency by reducing waste and redundancy.</h4>

	<h3>What is it?</h3>
	<h4>Infinitory is a lab inventory management system. It gives labs the ability to create, maintain and monitor a real time catalog of devices and reagents. Targeted notices are automatically sent to lab members when their reagents are running low, expiring soon or re-ordered by someone else. Members are also notified when devices they rely on break down or are repaired.
	</h4>

	<br>
	<h2>Using Infinitory</h2>

	<h3>How should our lab begin using Infinitory?</h3>
	<h4>It is <i>highly</i> recommended that you: 
		<br> 1) Establish a simple location code for the shelves, fridges and freezers in your lab.
		<br> 2) Set aside one day to perform an initial global inventory. Add devices and reagents you wish to track, skip anything else.
	</h4>

	<h3>Should we track common items?</h3>
	<h4>You may add anything you wish, however Infinitory is intended for items that have a significant value or are time-consuming to procure. Cheaper items that are easy to procure might not be worth tracking.</h4>

	<h3>How much time does it take to maintain our inventory?</h3>
	<h4>Individual lab members need to spend only 5 minutes per day updating their activity in order to keep your global catalog accurate.</h4>

	<h3>What happens if some lab members never update their activity?</h3>
	<h4>Infinitory works best when everyone updates their activity to prevent records from becoming stale. To address this, Infinitory awards points to members when they create, delete or update anything. This score is displayed on member pages and over time it will be obvious who is <a href="#nerd_modal" data-toggle="modal">contributing</a> and who <a href="#einstein_modal" data-toggle="modal">isn't</a>.</h4>

	<br>
	<h2>Pricing</h2>

	<h3>How much does Infinitory cost?</h3>
	<h4>Infinitory is free for the first 3 months, then labs are billed €8 ($11) per member per month. Small groups pay less than large groups, and labs can track an unlimited number of reagents and devices.
	</h4>

	<h3>Can Infinitory really save my lab money?</h3>
	<h4>Absolutely! During the 3 month free trial most labs will experience a significant jump in efficiency and productivity, far in excess of what Infinitory costs. Labs that don't see an improvement can simply quit.
	</h4>

	<h3>How secure is your payment system?<h3>
	<h4>We employ <a href="https://www.braintreepayments.com/" target="_blank"> Braintree <small><%= fa_icon 'external-link' %></small></a>, a recognized third party service, to handle credit card payments. Your credit card data is never stored on our servers and information is transmitted over an <a href="#braintree_modal" data-toggle="modal">encrypted</a> channel to Braintree, part of what makes Infinitory <a href="https://www.pcisecuritystandards.org/" target="_blank">PCI compliant <small><%= fa_icon 'external-link' %></small></a>.
	</h4>

	<br>
	<h2>Privacy</h2>

	<h3>Does Infinitory store experimental data?</h3>
	<h4>No. We only store data related to your lab's members, devices and reagents.
	</h4>

	<h3>Can random people see my lab's inventory?</h3>
	<h4>No. In order to access your inventory a person must:
		<br> 1) Have a confirmed Infinitory account & belong to your lab or,
		<br> 2) be a registered member of a linked lab.
	</h4>

	<h3>Can I selectively pool my inventory with other labs?</h3>
	<h4>Yes. Every item added to Infinitory is private by default. To pool with other labs you must do two things:
		<br> 1) Group leaders must explicitly link their labs together in the lab settings menu. Only group leaders have this ability.
		<br> 2) Lab members must manually set specific items to 'shared' so that linked labs can access them.
		<br><br>Shared items can <i>only</i> be viewed by linked labs and are inaccessible to other labs.</h4>
</div>