<div class="splashpage">
  <div class="bg"></div>
  <div class="jumbotron">
    <span id="jumbotext">
      <h1>INFINITORY</h1>
      <h3>Enhanced lab inventory management system</h3>
      <%= link_to " Sign-up", new_user_registration_path, class: "btn btn-warning icon-hand-up" %>
    </span>
  </div>
  <div class="body-content text-center">
    <div class="row">
      <div class="col-lg-12">
        <span class="text-center splash-why">Why?</span>
        <br>
      </div>
      <div class="col-lg-4">
        <h2><%= fa_icon "flask" %> Organize</h2><hr>
        <p class="lead">Catalog your reagents</p>
        <p class="lead">Eliminate redundant purchases</p>
        <p class="lead">Receive depletion & expiration warnings</p><br>
      </div>
      <div class="col-lg-4">
        <h2><%= fa_icon "gears" %> Discover</h2><hr>    
        <p class="lead">Catalog your devices</p>
        <p class="lead">Book and track them online</p>
        <p class="lead">Improve device saturation</p><br>
     </div>   
      <div class="col-lg-4">
        <h2><%= fa_icon "group" %> Collaborate</h2><hr>
        <p class="lead">Link to other labs</p>
        <p class="lead">Pool resources efficiently</p>
        <p class="lead">Monitor everything in real time</p><br>
      </div>
      
      <div class="col-lg-12">
        <br>
        <span class="splash-how">How?</span>
        <br>
      </div>
      <div class="col-lg-4">
        <h2><%= fa_icon "hand-o-up" %> Sign-up</h2><hr>
        <p class="lead">Group leader signs up</p>
        <p class="lead">Lab account is generated</p>
        <p class="lead">Members join lab account</p><br>
      </div>
       <div class="col-lg-4">
        <h2><%= fa_icon "thumbs-o-up" %> Initial catalog</h2><hr>
        <p class="lead">Establish lab location code</p>
        <p class="lead">Members create global inventory</p>
        <p class="lead">Users link to items-of-interest</p><br>
      </div>
      <div class="col-lg-4">
        <h2><%= fa_icon "hand-o-right" %> Steady state</h2><hr>          
        <p class="lead">Observe lab metrics</p>
        <p class="lead">Reduce operating costs</p>
        <p class="lead">Collectively update inventory</p><br>
     </div>   
    </div>
  </div>
</div>