<div class="bg"></div>
<div class="jumbotron">
    <h1>INFINITORY <sup><small id="beta">βeta</small></sup></h1>
    <h2>Real-time lab inventory management</h2>
    <p class="lead"><%= link_to "Sign-up", new_user_registration_path, class: "btn-large btn-warning btn-custom" %></p>
</div>

<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="span4">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="splash fa fa-flask fa-stack-1x fa-inverse"></i>
      </span>      
      <h2 class="text-muted test1">Organize</h2><br>
      <p class="lead">Catalog your reagents</p>
      <p class="lead">Eliminate redundant purchases</p>
      <p class="lead">Get depletion & expiration warnings</p><br>
    </div><!-- /.span4 -->
    <div class="span4">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="splash fa fa-gears fa-stack-1x fa-inverse"></i>
      </span>
      <h2 class="text-muted">Discover</h2><br>
      <p class="lead">Catalog your devices</p>
      <p class="lead">Book & track them online</p>
      <p class="lead">Enhance user & device saturation</p><br>
    </div><!-- /.span4 -->
    <div class="span4">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="splash fa fa-users fa-stack-1x fa-inverse"></i>
      </span>
      <h2 class="text-muted">Integrate</h2><br>
      <p class="lead">Link to collaborators</p>
      <p class="lead">Pool resources effectively</p>
      <p class="lead">Monitor everything in real time</p><br>
    </div><!-- /.span4 -->
  </div><!-- /.row -->

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    <a href="http://www.klarireis.com/" target="_blank">
      <!-- <img class="featurette-image pull-right" src="../images/petri_signup.jpg"> -->
      <%= image_tag("petri_signup.jpg", class: "featurette-image pull-right") %>
    </a>

    <h2 class="featurette-heading">Step 1: <span class="muted">Sign-up</span></h2>
    <p class="lead">Group leaders request a lab account. We create it. Lab members sign-up and link to the lab account.</p>
    <p class="lead">Questions? <%= link_to "Answers", page_path('faq'), class: "btn-large btn-warning btn-custom" %></p>
  
  </div>
  <p class="text-right copyright-right"><small>© Klari Art LLC</small></p>
  <hr class="featurette-divider">

  <div class="featurette">    
    <a href="http://www.klarireis.com/" target="_blank">
      <!-- <img class="featurette-image pull-left"  src="../images/petri_initial_catalog.jpg"> -->
      <%= image_tag("petri_initial_catalog.jpg", class: "featurette-image pull-left") %>
    </a>

    <h2 class="featurette-heading">Step 2: <span class="muted">Catalog</span></h2>
    <p class="lead">Establish a location code in your lab. Perform a global inventory. Add anything. Add everything.</p>
    <p class="lead zemp">Comments? <%= mail_to "feedback@infinitory.com", "Contact us",class: "btn-large btn-warning btn-custom" %></p>
  </div>
  <p class="text-left copyright-left"><small>© Klari Art LLC</small></p>
  <hr class="featurette-divider">

  <div class="featurette">
    <a href="http://www.klarireis.com/" target="_blank">
      <!-- <img class="featurette-image pull-right" src="../images/petri_steady_state.jpg"> -->
      <%= image_tag("petri_steady_state.jpg", class: "featurette-image pull-right") %>
    </a>
    <h2 class="featurette-heading">Step 3: <span class="muted">Proceed</span></h2>
    <p class="lead">Make informed decisions to save time and money. Waste fewer resources. Get more done.</p>
    <p class="lead">Ready? <%= link_to "Request an account", new_request_path, class: "btn-large btn-warning btn-custom" %></p>
  </div>

  <p class="text-right copyright-right"><small>© Klari Art LLC</small></p>
  <hr class="featurette-divider">