<div class="bg"></div>
<div class="jumbotron">
  <span id="jumbotext">
    <h1>INFINITORY</h1>
    <h3>Enhanced lab inventory management system</h3>
    <%= link_to " Sign-up", new_user_registration_path, class: "btn btn-warning icon-hand-up" %>
  </span>
</div>
<div class="body-content">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">WHY</h1>
    </div>
    <div class="col-lg-4">
      <h2 class="text-center"><%= fa_icon "flask" %> Organize</h2><hr>
      <p class="lead text-center">Catalog your reagents</p>
      <p class="lead text-center">Eliminate redundant purchases</p>
      <p class="lead text-center">Get depletion & expiration warnings</p><br>
    </div>
    <div class="col-lg-4">
      <h2 class="text-center"><%= fa_icon "gears" %> Discover</h2><hr>    
      <p class="lead text-center">Catalog your devices</p>
      <p class="lead text-center">Book and track them online</p>
      <p class="lead text-center">Improve user & device saturation</p><br>
   </div>   
    <div class="col-lg-4">
      <h2 class="text-center"><%= fa_icon "group" %> Collaborate</h2><hr>
      <p class="lead text-center">Link to other labs</p>
      <p class="lead text-center">Pool resources efficiently</p>
      <p class="lead text-center">Monitor everything in real time</p><br>
    </div>

    <div class="col-lg-12">
      <h1 class="text-center">HOW</h1>
    </div>
    <div class="col-lg-3">
      <h2 class="text-center"><%= fa_icon "hand-o-up" %> Sign-up</h2><hr>
      <p class="lead text-center">1) Group leader signs up</p>
      <p class="lead text-center">2) Lab account is generated</p>
      <p class="lead text-center">3) Lab members join lab account</p><br>
    </div>
     <div class="col-lg-6">
      <h2 class="text-center"><%= fa_icon "thumbs-o-up" %> Catalog your lab</h2><hr>
      <p class="lead text-center">Members do a one-time general inventory</p>
      <p class="lead text-center">Users link themselves only to items they need</p>
      <p class="lead text-center">Collective updates keep inventory fresh</p><br>
    </div>
    <div class="col-lg-3">
      <h2 class="text-center"><%= fa_icon "eye" %> Monitor</h2><hr>    
      <p class="lead text-center">Track devices & reagents</p>
      <p class="lead text-center">Get real time notifications</p>
      <p class="lead text-center">Monitor global expenditures</p><br>
   </div>   
  </div>
</div>