<%= simple_form_for [@lab, @reagent], defaults: { input_html: { style: 'width: 350px' } },
                                      html: { :class => 'form-vertical' } do |f| %>
<%= f.error_notification %>
<%= f.hidden_field :lock_version %>
  
  <div class="form-inputs">
    <%= f.label "Category" %>
    <br>
    <%= f.collection_select :category, Reagent::CATEGORIES, :to_s, :humanize %>
    <br>
    <br>
    <%= f.input :name %>
    <%= f.input :remaining, as: :range, label: "Amount remaining (#{@reagent.remaining}%)" %>
    
    <% if params[:lab_id] %>    
      <%= f.association :users, label: "Contact(s)",
                                collection: User.where(lab: @lab),
                                value_method: :id,
                                label_method: :fullname,
                                as: :check_boxes,
                                input_html: { style: 'width: 50px' } %>
    <% else %>
      <%= f.association :users, label: "Contact(s)",
                                collection: User.where(lab: @reagent.lab),
                                value_method: :id,
                                label_method: :fullname,
                                as: :check_boxes,
                                input_html: { style: 'width: 50px' } %>
    <% end %>
    <br>
    <%= f.input :location, label: "Location in lab"  %>
    <%= f.input :url, label: "Website" %>
    <%= f.input :expiration, as: :string%>
    <%= f.input :price %>
    <%= f.input :serial %>
    <%= f.input :tag_list, label: "Tags" %>

    <div class="form-actions">
      <%= f.button :submit, :class => 'btn-primary' %>

      <% if params[:lab_id] %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    lab_reagents_path(@lab), :class => 'btn' %>
      <% else %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    lab_reagents_path(@reagent.lab), :class => 'btn' %>
      <% end %>

      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            reagent_path(@reagent),
            :method => :delete,
            :class => 'btn btn-mini btn-danger' %>
    </div>
  </div>

<% end %>