<%= simple_form_for [@lab, @reagent], :html => { :class => 'form-vertical', input_html: { style: 'width: 350px' } } do |f| %>
<%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name, input_html: { style: 'width: 350px' } %>

    <%= f.collection_select :category, Reagent::CATEGORIES, :to_s, :humanize, prompt: false %>
    <br>
    <br>
    <%= f.input :contact, label: "Contacts", input_html: { style: 'width: 350px' } %>
    <%= f.input :location, input_html: { style: 'width: 350px' } %>
    <%= f.input :price, input_html: { style: 'width: 350px' } %>
    <%= f.input :serial, input_html: { style: 'width: 350px' } %>
    <%= f.input :tag_list, label: "Tags", input_html: { style: 'width: 350px' } %>
    <%= f.input :description, input_html: { style: 'width: 350px' } %>
    <%= f.input :expiration, input_html: { style: 'width: 350px' } %>
    <div class="form-actions">
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  lab_reagents_path(@lab), :class => 'btn' %>

      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            reagent_path(@reagent),
            :method => :delete,
            :class => 'btn btn-mini btn-danger' %>
    </div>
  </div>
<% end %>