<%= simple_form_for [@lab, @reagent], defaults: { input_html: { style: 'width: 350px' } },
                                      html: { :class => 'form-vertical' } do |f| %>
<%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name %>

    <%= f.label "Category" %><br>
    <%= f.collection_select :category, Reagent::CATEGORIES, :to_s, :humanize, label: "Category" %>
    <br>
    <br>    
    <%= f.label "Contact person" %><br>
    <%= f.collection_select :user_id, User.where(lab: @reagent.lab), :id, :fullname, {} %>
    <br>
    <br>
    <%= f.input :location, label: "Location in lab"  %>
    <%= f.input :url, label: "Website" %>
    <%= f.input :price %>
    <%= f.input :serial %>
    <%= f.input :tag_list, label: "Tags" %>
    <%= f.input :description %>
    <%= f.input :expiration %>
    <div class="form-actions">
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  lab_reagents_path(@lab), :class => 'btn' %>

      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            reagent_path(@reagent),
            :method => :delete,
            :class => 'btn btn-mini btn-danger' %>
    </div>
  </div>
<% end %>