<%= simple_form_for [@lab, @reagent], html: { class: 'form-vertical', multipart: true } do |f| %>
<%= f.error_notification %>
<%= f.hidden_field :lock_version %>
  
    <div class="row">
      <div class="span5"> 
      <%= f.label "Category (required)" %>
      <br>
      <%= f.collection_select :category, Reagent::CATEGORIES, :to_s, :humanize %>
      <br>
      <br>
      <%= f.input :name, placeholder: 'Required', typeahead: Reagent.all.pluck(:name).uniq %>
      <%= f.input :serial, label: 'Serial number' %>
      <%= f.input :lot_number, label: 'Lot number' %>
      <%= f.input :uid, label: 'Unique ID', 
                        tooltip: ['right', "If you have multiple copies of the same item, you can use a unique ID to distinguish them."] %>
      <%= f.input :remaining, as: :range, label: "Amount remaining (#{@reagent.remaining}%)",
                              input_html: { step: 5 } %>
      <br>
      <%= f.input :location, label: 'Location in lab', placeholder: "'Room 237' or 'Fz3S1B4'",
                             tooltip: ['right', "Use this if you have a location code in your lab, ex: 'Fz3S1B4' = 'Freezer 3, Shelf 1, Box 4'"]  %>
      <%= f.input :url, label: 'Website' %>
      <%= f.input :expiration, as: :string, placeholder: 'YYYY-MM-DD',
      tooltip: ['right', "If an expiration date is not set it will automatically default to 3 years from now"] %>

      <%= f.input :price, label: 'Price ($USD)' %>
      <%= f.input :tag_list, label: 'Keywords', placeholder: 'Immunology, restriction enzyme, FACS',
                             tooltip: ['right', 'Use a comma separated list of keywords'] %>

      </div>
      <div class="span5  pull-right">
        <label>Image</label><br>
          <% if @reagent.icon? %>               
            <%= image_tag(@reagent.icon_url(:original)) %><br><br>
            Remove image
            <%= f.check_box :remove_icon %><br><br>
          <% end %>
          <%= f.input :remote_icon_url, placeholder: 'Enter image URL', label: false %>
          <h4>or</h4>
          <%= f.input :icon, label: false %>  
          <%= f.hidden_field :icon_cache %>

      <% if params[:lab_id] %>    
        <%= f.association :users, label: 'Contact(s)',
                                  collection: User.where(lab: @lab).order(:first_name),
                                  value_method: :id,
                                  label_method: :fullname,
                                  as: :check_boxes,
                                  input_html: { style: 'width: 50px' } %>
      <% else %>
        <%= f.association :users, label: 'Contact(s)',
                                  collection: User.where(lab: @reagent.lab).order(:first_name),
                                  value_method: :id,
                                  label_method: :fullname,
                                  as: :check_boxes,
                                  input_html: { style: 'width: 50px' } %>
      <% end %>
      </div>
    </div>
    <div class="span5">
      <%= f.button :submit, class: 'btn-warning' %><br><br>
      <% if params[:lab_id] %>
        <%= link_to 'Cancel', lab_reagents_path(@lab), class: 'btn' %>
      <% else %>
        <%= link_to 'Cancel', lab_reagents_path(@reagent.lab), class: 'btn' %>
      <% end %>
      <% unless @reagent.id.nil? %>
        <%= link_to ' Destroy', reagent_path(@reagent), method: :delete, class: 'icon-trash btn btn-mini btn-danger' %>
      <% end %>
    </div>
<% end %>