<%= simple_form_for [@lab, @reagent], html: { class: 'form-vertical', multipart: true, autocomplete: 'off' } do |f| %>
<%= f.error_notification %>
  
    <div class="row">
      <div class="span5"> 
      <%= f.label "Category (required)" %>
      <br>
      <%= f.collection_select :category, Reagent::CATEGORIES, :to_s, :humanize %>
      <br><br>
      <%= f.input :name, placeholder: 'Required', typeahead: Reagent.all.pluck(:name).uniq %>
      <%= f.input :uid, label: 'Unique ID', 
                        tooltip: ['right', "If you have multiple copies of the same item, you can use a unique ID to distinguish them."] %> 
      <%= f.input :quantity, label: "Original quantity" %>
      <%= f.input :remaining, as: :range, label_html: { id: "reagent_remaining_feedback" },
                              input_html: { step: 5 }, label: "Amount remaining: #{@reagent.remaining}%" %><br>
      <%= f.input :location, label: 'Location in lab', placeholder: "'Room 237' or 'Fz3S1B4'",
                             tooltip: ['right', "Use this if you have a location code in your lab, ex: 'Fz3S1B4' = 'Freezer 3, Shelf 1, Box 4'"]  %>
      <%= f.input :expiration, as: :string, placeholder: 'YYYY-MM-DD',
                                            tooltip: ['right', "If an expiration date is not set it will automatically default to 3 years from now"] %>

      <%= f.input :serial, label: 'Serial number' %>
      <%= f.input :lot_number, label: 'Lot number' %>
      <%= f.input :product_url, label: 'Product website',
                                placeholder: 'http://www.example.com',
                                tooltip: ['right', "Enter a valid URL including http:// or https://"] %>
      <%= f.input :purchasing_url, label: 'Purchasing website',
                                   placeholder: 'http://www.example.com',
                                   tooltip: ['right', "Enter a valid URL including http:// or https://"] %>
      <%= f.input :price, label: 'Price ($USD)' %>
      <%= f.input :tag_list, label: 'Keywords',
                             placeholder: 'Immunology, restriction enzyme, FACS',
                             tooltip: ['right', 'Use a comma separated list of keywords'] %>
      </div>
      <div class="span5 pull-right">
        <strong><h4>Image</h4></strong>
          <p>.jpeg, .png or .gif images < 2 megabytes</p>
          <% if @reagent.icon? %>
            <%= image_tag(@reagent.icon.url, class: "img-rounded").html_safe %>
            <br><br>
            <%= f.input :delete_icon, as: :boolean, label: false, inline_label: "Delete photo", wrapper_html: { class: "form-inline"} %><br>
          <% end %>
          <%= f.input :icon_remote_url, label: "Enter image URL" %>
          <h4>or</h4>
          <%= f.file_field :icon %>
          <hr>

        <strong><h4>Attachments</h4></strong>
          <p>.pdf files < 3 megabytes</p>
          <% if @reagent.pdf? %>
            <%= link_to "#{@reagent.pdf_file_name}", @reagent.pdf.url %>
            <br><br>
            <%= f.input :delete_pdf, as: :boolean, label: false, inline_label: "Delete attachment", wrapper_html: { class: "form-inline"} %><br>
          <% end %>

          <%= f.input :pdf_remote_url, label: "Enter attachment URL" %>
          <h4>or</h4>
          <%= f.file_field :pdf %>
          <hr>

      <% if params[:lab_id] %>    
        <%= f.association :users, label: 'Linked member(s):',
                                  collection: User.where(lab: @lab).order(:first_name),
                                  value_method: :id,
                                  label_method: :fullname,
                                  as: :check_boxes,
                                  input_html: { style: 'width: 50px' } %>
      <% else %>
        <%= f.association :users, label: 'Linked member(s):',
                                  collection: User.where(lab: @reagent.lab).order(:first_name),
                                  value_method: :id,
                                  label_method: :fullname,
                                  as: :check_boxes,
                                  input_html: { style: 'width: 50px' } %>
      <% end %>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default btn-small">
          <input type="radio" name="options" id="check_all">Select all
        </label>
        <label class="btn btn-default btn-small">
          <input type="radio" name="options" id="check_none">Select none
        </label>
      </div>
        <br><br>
      </div>
    </div>
    <div class="row">
      <div class="span5">
        <%= f.button :submit, class: 'btn-warning' %><br><br>
        <% if params[:lab_id] %>
          <%= link_to 'Cancel', lab_reagents_path(@lab), class: 'btn' %>
        <% else %>
          <%= link_to 'Cancel', lab_reagents_path(@reagent.lab), class: 'btn' %>
        <% end %>
        <% unless @reagent.id.nil? %>
          <%= link_to ' Destroy', reagent_path(@reagent), method: :delete, class: 'fa fa-trash-o btn btn-mini btn-danger' %>
        <% end %>
      </div>
    </div>
<% end %>