<%- model_class = Reagent -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= reagent_sortable 'name' %></th>
      <th><%= reagent_sortable 'remaining', '%' %></th>
      <th><%= reagent_sortable 'category' %></th>
      <th><%= reagent_sortable 'location' %></th>
      <% if params[:tag] %>
        <th><%= reagent_sortable 'tags' %></th>
      <% end %>
      <th><%= reagent_sortable 'expiration' %></th>
      <th><%= reagent_sortable 'price' %></th>
      <th><%= reagent_sortable 'updated_at', 'Last updated' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reagents.each do |reagent| %>
      <tr id="<%= reagent.id %>">
        <td>
          <%= fa_icon "paperclip", title: "Attachment" if reagent.pdf.present? %>
          <%= fa_icon "camera-retro", title: "Image" if reagent.icon.present? %>         
          <% if low?(reagent) %>
            <%= link_to fullname(reagent), reagent_path(reagent), class: "text-warning" %>
          <% elsif almost_empty?(reagent) %>
            <%= link_to fullname(reagent), reagent_path(reagent), class: "text-danger" %>
          <% else %>
            <%= link_to fullname(reagent), reagent_path(reagent) %>
          <% end %>
        </td>
        <td><%= best_in_place reagent, :remaining %></td>
        <td><%= reagent.category.titleize %></td>  
        <td><%= best_in_place reagent, :location %></td>
        <% if reagent.expiration? %>
          <% if reagent.expiration.past? %>
            <td><span class="text-danger"><%= "#{time_ago_in_words(reagent.expiration)}" %> ago</span></dd>
          <% elsif expiring?(reagent) %>    
            <td><span class="text-warning"><%= time_ago_in_words(reagent.expiration) %> from now</span></dd>
          <% else %>
            <td>in <%= time_ago_in_words(reagent.expiration) %></dd>
          <% end %>
        <% end %>
        <td><%= best_in_place reagent, :price, display_with: :number_to_currency, helper_options: { unit: reagent.currency } %></td>
        <td><%= time_ago_in_words(reagent.updated_at) %> ago</td>
        <td>
          <%= link_to edit_reagent_path(reagent) do %>
            <%= fa_icon "edit", class: "fa-lg fa-fw", title: "Edit"  %>
          <% end %>

          <%= link_to reagent_path(reagent),
                      method: :delete,                      
                      remote: true,
                      data: { confirm: "Are you sure you want to delete #{ reagent.name }?" } do %>
            <%= fa_icon "trash-o", class: "fa-lg fa-fw", title: "Delete"  %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>