<%- model_class = Reagent -%>
<div class="page-header">
  <% if @lab %>
    <h4>The <%= link_to "#{@lab.gl.fullname} Lab's", @lab %> reagents</h4>  
  <% elsif params[:user_id].present? %>        
    <h3>My reagents</h3>
    <p><%= link_to "My lab's reagents", lab_reagents_path(current_user.lab) %></p>
  <% end %>

  <% if params[:tag] %>
    <h3>Reagents tagged with <%= "#{params[:tag]}" %></h3>
  <% end %>
</div>
<div class="span6">
<% if params[:user_id].present? %>
  <%= form_tag user_reagents_path(current_user.lab), method: :get do %>
    <%= text_field_tag :search, params[:query],
                                class: "search-field", 
                                placeholder: "Search by name, tag, UID or serial" %>
  <% end %>
<% elsif params[:lab_id].present? %>
  <%= form_tag lab_reagents_path, method: :get do %>
    <%= text_field_tag :search, params[:query],
                                class: "search-field",
                                placeholder: "Search by name, tag, UID or serial"  %>
  <% end %>
<% end %>
<%= link_to " Add new reagent", new_lab_reagent_path(current_user.lab), class: 'fa fa-plus-square btn btn-warning' %>
  <br><br>
</div>

<%= render 'reagents' %>
<%= will_paginate @reagents, class: 'text-center lead' %>
