<%- model_class = Reagent -%>
<div class="row">
  <div class="span6">
    <% if @lab %>
      <%= render partial: 'lab_reagent_count' %>
    <% elsif params[:user_id].present? %>        
      <h3>
        My reagents
        <%= link_to "", new_lab_reagent_path(current_user.lab), class: 'fa fa-plus-square btn btn-warning' %><br>
      </h3>
      <p><%= link_to "#{@user.lab.gl.fullname} lab's reagents", lab_reagents_path(current_user.lab) %></p>
    <% end %>
    <% if params[:tag] %>
      <h3>Reagents tagged with <%= "#{ params[:tag] }" %></h3>
    <% end %>
    <% if params[:user_id].present? %>
      <%= simple_form_for user_reagents_path(current_user.lab), method: :get do %>
        <%= text_field_tag :search, params[:query],
                                    class: 'search-field', 
                                    placeholder: "Search your reagents",
                                    # data: { provide: :typeahead, source: current_user.reagents.pluck(:name).uniq },
                                    autocomplete: :on %>
      <% end %>
    <% elsif params[:lab_id].present? %>
      <%= simple_form_for lab_reagents_path, method: :get do %>
        <%= text_field_tag :search, params[:query],
                                    class: 'search-field',
                                    placeholder: "Search lab reagents",
                                    # data: { provide: :typeahead, source: @lab.reagents.pluck(:name).uniq },
                                    autocomplete: :on  %>
        <ul class="nav nav-pills nav-justified">
          <li class="active"><a href="#notifications" data-toggle="tab">Lab</a></li>
          <li class="disabled"><a href="#activity" data-toggle="tab">+ Institute</a></li>
          <li class="disabled"><a href="#messages" data-toggle="tab">+ Local</a></li>
        </ul><br>
      <% end %>
    <% end %>
  </div>
  
  <div class="span12" id="ajax_div">
    <hr>
    <div id="paginator-top">
      <%= paginate @reagents, remote: true,
                              theme: 'twitter-bootstrap',
                              pagination_class: "pagination-small pagination-centered" %>
    </div>

    <div id="reagents">
      <%= render "reagents" %>
    </div>

    <div id="paginator-bottom">
      <%= paginate @reagents, remote: true,
                              theme: 'twitter-bootstrap',
                              pagination_class: "pagination-small pagination-centered" %>
    </div>
    
  </div>
</div>