<%- model_class = Reagent -%>
<div class="page-header">
  <% if @lab %>
  <h3><%= @lab.name %> Lab: <%= pluralize(@lab.reagents.count, 'reagent') %></h3>
  <% end %>

  <% if params[:tag] %>
    <h3>Reagents tagged with <%= "#{params[:tag]}" %></h3>
  <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= model_class.human_attribute_name(:contact) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <% if params[:tag] %>
        <th><%= model_class.human_attribute_name(:tags) %></th>
      <% end %>
      <th>Updated</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @reagents.each do |reagent| %>
      <tr>
        <td><%= link_to reagent.name, reagent_path(reagent) %></td>
        <td><%= reagent.category.capitalize %></td>
        <td><%= reagent.contact %></td>
        <td><%= reagent.location %></td>
        <% if params[:tag] %>
          <td><%= raw reagent.tag_list.map { |t| link_to t, tag_path(t) }.join(' ') %></td>
        <% end %>
        <td><%= time_ago_in_words(reagent.updated_at) %> ago</td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_reagent_path(reagent), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @lab %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_lab_reagent_path(@lab),
              :class => 'btn btn-primary' %>
<% end %>
