<%- model_class = Reagent -%>
<div class="page-header">
  <h3><%= @lab.name %> Lab Reagents: <%= @lab.reagents.count %> items</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= model_class.human_attribute_name(:contact) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th>Updated</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @reagents.each do |reagent| %>
      <tr>
        <td><%= link_to reagent.name, reagent_path(reagent) %></td>
        <td><%= reagent.category %></td>
        <td><%= reagent.contact %></td>
        <td><%= reagent.location %></td>
        <td><%= reagent.price %></td>
        <td><%= time_ago_in_words(reagent.updated_at) %> ago</td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_reagent_path(reagent), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_lab_reagent_path(@lab),
            :class => 'btn btn-primary' %>
