<%- model_class = Reagent -%>
<% cache @reagent do %>
  <% title "Reagents: " + fullname(@reagent) %>
  <div class="row">
    <div class="span5">

    <% if @reagent.icon.present? %>
      <% if @reagent.icon_processing? %>
        <%= image_tag('/images/ajax-spinner.gif') %>
        <h4>Processing image...</h4>
      <% else %>
        <span class="inline-block">
          <%= image_tag(@reagent.icon.url, class: 'img-rounded').html_safe %>
        </span><br>
      <% end %>
    <% end %>

      <h3><%= fullname(@reagent) %></h3>
      <h4><%= @reagent.category.titleize %></h4>
      <h4><%= link_to "The #{@reagent.gl.fullname} lab", @reagent.lab %></h4>

      <dl class="dl-vertical">
        <% if @reagent.location? %>
          <dt><strong><%= model_class.human_attribute_name(:location) %></strong></dt>
          <dd><%= @reagent.location %></dd><br>
        <% end %>

        <% if @reagent.uid? %>
          <dt>Unique ID</dt>
          <dd><%= @reagent.uid %></dd><br>
        <% end %>
        
        <% if @reagent.quantity.present? %>
          <dt><strong>Original quantity</strong></dt>
          <dd><%= @reagent.quantity %></dd><br>
        <% end %>

        <dt><strong>Percent remaining</strong></dt>
         <% if low?(@reagent) %>
            <dd><span class="label label-warning"><%= @reagent.remaining %>%</span></dd><br>
          <% elsif almost_empty?(@reagent) %>    
            <dd><span class="label label-danger"><%= @reagent.remaining %>%</dd><br>
          <% else %>
            <dd><%= @reagent.remaining %>%</dd><br>
          <% end %>

        <dt><strong>Expiration</strong></dt>
          <% if @reagent.expiration.past? %>
            <dd><span class="label label-important"><%= "#{time_ago_in_words(@reagent.expiration)}" %> ago</span></dd><br>
          <% elsif expiring?(@reagent) %>    
            <dd><span class="label label-warning"><%= time_ago_in_words(@reagent.expiration) %> from now</dd><br>
          <% else %>
            <dd><%= time_ago_in_words(@reagent.expiration) %> from now</dd><br>
          <% end %>
        
        <% if !@reagent.users.empty? %>
          <dt><strong>Linked member(s)</strong></dt>
          <% @reagent.users.each do |user| %>
          <dd><%= link_to user.fullname, user %></dd>
          <% end %><br>
        <% end %>        

        <% if @reagent.serial? %>
          <dt><strong><%= model_class.human_attribute_name(:serial) %> #</strong></dt>
          <dd><%= @reagent.serial %></dd><br>
        <% end %>        

        <% if @reagent.lot_number? %>
          <dt>Lot number</dt>
          <dd><%= @reagent.lot_number %></dd><br>
        <% end %>

        <% if @reagent.price? %>
          <dt><strong><%= model_class.human_attribute_name(:price) %></strong></dt>
          <dd><%= number_to_currency(@reagent.price) %></dd><br>
        <% end %>

        <% unless @reagent.tag_list.empty? %>
          <dt><strong><%= model_class.human_attribute_name(:tags) %></strong></dt>
          <dd><%= raw @reagent.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></dd><br>
        <% end %>
        
        <% if @reagent.product_url? %>
          <dt>Product website</dt>
          <dd><%= link_to "#{ @reagent.product_url }", url_with_protocol(@reagent.product_url), target: "_blank" %></dd><br>
        <% end %>

        <% if @reagent.purchasing_url? %>
          <dt>Purchasing website</dt>
          <dd><%= link_to "#{ @reagent.purchasing_url }", url_with_protocol(@reagent.purchasing_url), target: "_blank" %></dd><br>
        <% end %>

        <% if @reagent.pdf? %>
          <dt>Attachments</dt>
          <dd><%= link_to "#{ @reagent.pdf_file_name }",@reagent.pdf.url %> - updated <%= time_ago_in_words(@reagent.pdf_updated_at) %> ago</dd><br>
        <% end %>
      </dl>
      <div class="btn-group">
        <%= link_to ' Back', lab_reagents_path(@reagent.lab), class: 'btn fa fa-rotate-left'  %>
        <%= link_to ' Edit', edit_reagent_path(@reagent), class: 'icon-edit btn btn-warning' %>
        <%= link_to ' Destroy', reagent_path(@reagent),
                                  method: 'delete', class: 'icon-trash btn btn-danger' %>
        <%= link_to ' Clone', clone_reagent_path(@reagent), class: 'icon-code-fork btn btn-info' %>
      </div>
      <hr>
    </div>
    <div class="span7">
      <!-- Nav panes -->
      <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#history" data-toggle="tab">History</a></li>
        <li class="disabled"><a href="#" data-toggle="tab">Messages</a></li>
      </ul><br>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade in active" id="history">
          <%= will_paginate @activities %>
          <%= render 'activities' %>
          <%= will_paginate @activities %>
        </div>
        <div class="tab-pane fade" id="messages">MESSAGES</div>
      </div>
    </div>
  </div>
<% end %>