<%- model_class = Reagent -%>
<% cache @reagent do %>
  <% title fullname(@reagent) %>
  <div class="row">
    <div class="span6 reagents">

    <% if @reagent.icon.present? %>
      <% if @reagent.icon_processing? %>
        <h4><%= fa_icon "spinner", title: "Edit", class: "fa-spin fa-lg fa-fw"  %> Processing image...</h4>
      <% else %>
        <span class="inline-block">
          <%= image_tag(@reagent.icon.url, class: 'img-rounded').html_safe %>
        </span><br>
      <% end %>
    <% end %>

      <h3><%= fullname(@reagent) %></h3>
      <h4><%= @reagent.category.titleize %></h4>
      <h4><%= link_to "The #{@reagent.gl.fullname} lab", @reagent.lab %></h4>

      <dl class="dl-vertical">
        <% if @reagent.location? %>
          <dt><strong>Location</strong></dt>
          <dd><%= best_in_place @reagent, :location %></dd><br>
        <% end %>

        <% if @reagent.uid? %>
          <dt>Unique ID</dt>
          <dd><%= best_in_place @reagent, :uid %></dd><br>
        <% end %>
        
        <% if @reagent.quantity.present? %>
          <dt><strong>Original quantity</strong></dt>
          <dd><%= best_in_place @reagent, :quantity %></dd><br>
        <% end %>

        <dt><strong>Percent remaining</strong></dt>
         <% if low?(@reagent) %>
            <dd><span class="label label-warning"><%= best_in_place @reagent, :remaining %>%</span></dd><br>
          <% elsif almost_empty?(@reagent) %>    
            <dd><span class="label label-danger"><%= best_in_place @reagent, :remaining %>%</dd><br>
          <% else %>
            <dd><%= best_in_place @reagent, :remaining %>%</dd><br>
          <% end %>

        <dt><strong>Expiration</strong></dt>
        <% if @reagent.expiration.past? %>
          <dd><span class="label label-important"><%= "#{time_ago_in_words(@reagent.expiration)}" %> ago</span></dd><br>
        <% elsif expiring?(@reagent) %>    
          <dd><span class="label label-warning"><%= time_ago_in_words(@reagent.expiration) %> from now</dd><br>
        <% else %>
          <dd><%= time_ago_in_words(@reagent.expiration) %> from now</dd><br>
        <% end %>
        
        <% if !@reagent.users.empty? %>
          <dt><strong>Linked member(s)</strong></dt>
          <% @reagent.users.each do |user| %>
          <dd><%= link_to user.fullname, user %></dd>
          <% end %><br>
        <% end %>        

        <% if @reagent.serial? %>
          <dt><strong><%= model_class.human_attribute_name(:serial) %> #</strong></dt>
          <dd><%= best_in_place @reagent, :serial %></dd><br>
        <% end %>        

        <% if @reagent.lot_number? %>
          <dt>Lot number</dt>
          <dd><%= best_in_place @reagent, :lot_number %></dd><br>
        <% end %>

        <% if @reagent.price? %>
          <dt><strong>Price</strong></dt>
          <dd><%= best_in_place @reagent, :price, display_with: :number_to_currency, helper_options: { unit: @reagent.currency } %></dd><br>
        <% end %>

        <% unless @reagent.tag_list.empty? %>
          <dt><strong><%= model_class.human_attribute_name(:tags) %></strong></dt>
          <dd><%= raw @reagent.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></dd><br>
        <% end %>
        
        <% if @reagent.product_url? %>
          <dt>Product website</dt>
          <dd><%= link_to "#{ @reagent.product_url }", url_with_protocol(@reagent.product_url), target: "_blank" %></dd><br>
        <% end %>

        <% if @reagent.purchasing_url? %>
          <dt>Purchasing website</dt>
          <dd><%= link_to "#{ @reagent.purchasing_url }", url_with_protocol(@reagent.purchasing_url), target: "_blank" %></dd><br>
        <% end %>

        <% if @reagent.pdf? %>
          <dt>Attachment</dt>
          <dd><%= link_to "#{ @reagent.pdf_file_name }",@reagent.pdf.url, target: "_blank"  %> - updated <%= time_ago_in_words(@reagent.pdf_updated_at) %> ago</dd><br>
        <% end %>
      </dl>
      <div class="btn-group">
        <%= link_to ' Back', lab_reagents_path(@reagent.lab),
                             class: 'btn fa fa-rotate-left'  %>
        <%= link_to ' Edit', edit_reagent_path(@reagent),
                             class: 'icon-edit btn btn-warning' %>
        <%= link_to ' Destroy', reagent_path(@reagent),
                                method: 'delete',
                                class: 'icon-trash btn btn-danger' %>
        <%= link_to ' Clone', clone_reagent_path(@reagent),
                              class: 'icon-code-fork btn btn-info' %>
      </div>
      <hr>
    </div>
    <div class="span6">
      <!-- Nav panes -->
      <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#history" data-toggle="tab">History</a></li>
        <li class="disabled"><a href="#" data-toggle="tab">Messages</a></li>
      </ul><br>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade in active" id="history">

          <div id="paginator-top">
            <%= paginate @activities, remote: true,
                                      theme: 'twitter-bootstrap',
                                      pagination_class: 'pagination-small pagination-centered' %>
          </div>

          <div id="activities">
            <%= render 'activities' %>
          </div>
          
          <div id="paginator-bottom">
            <%= paginate @activities, remote: true,
                                      theme: 'twitter-bootstrap',
                                      pagination_class: 'pagination-small pagination-centered' %>
          </div>
          
        </div>
        <div class="tab-pane fade" id="messages">MESSAGES</div>
      </div>
    </div>
  </div>
<% end %>