<h3>Welcome to Infinitory!</h3>
<br>

<%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>
  <%= f.error_notification %>
  
  <%= f.hidden_field :invitation_token %>


  <%= f.collection_select :role, User::ROLES, :to_s, :humanize, prompt: 'Choose your position' %>
  <br><br>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

	<%= f.button :submit, "Accept invitation", class: "btn btn-warning" %>
<% end %>
