<%- model_class = Collaboration -%>
<div class="page-header">
  <h2>Your collaborators</h2>
  <%= simple_form_for [@lab, @collaborator], html: { class: 'form-vertical', autocomplete: 'off' },
                                     url: url_for(action: 'create', controller: 'collaborations'),
                                     method: 'post' do |f| %>
       <%= f.error_notification %>
     
       <%= f.association :collaborator,  label: 'Enter the email of a group leader',
                                         collection: Lab.all,
                                         value_method: :email,
                                         label_method: :email,
                                         placeholder: 'Lab email address',
                                         tooltip: ['right', 'This lab will only have access to your shared items!'] %>

      <%= f.button :button, class: 'btn-warning' do %>
        <i class="fa fa-link fa-lg"></i> Initiate Collaboration!
        
      <% end %>
    <% end %>
</div>

<div class="span5">
  <h4 class="text-muted">Groups you share with:</h4>
  <br>
  <%= render 'outgoing' %>
</div>

<div class="span5">
  <h4 class="text-muted">Groups who share with you:</h4>
  <br>
  <%= render 'incoming' %>
</div>

 


