<% @blog_days.each do |day, blog| %>

  <p class="text-muted"><%= day.strftime("%A, %e %B %Y").upcase %></p>
  <% blog.each do |b| %>
    <h4>
      <%= link_to b.title, b %>
    </h4>
    <!-- 
    COPY AND PASTE THIS TEMPLATE FOR POSTS:
    <p class="blog_entry"></p>
    <blockquote></blockquote>
    <p class="blog_entry"> </p>
    -->
    <%= b.entry.html_safe %>
    <br>
    <% if user_signed_in? && current_user.super_admin? %>
      <p><%= link_to 'Edit', edit_blog_path(b) %></p>
      <p><%= link_to 'Destroy', b, method: :delete %></p>
    <% end %>
    <br><br>
  <% end %>
  <hr>
<% end %>