<% @blogs.each do |blog| %>
  <p class="text-muted"><%= blog.updated_at.strftime("%A, %d %B %Y").upcase %></p>
  <br>
  <h4>
    <%= link_to blog.url, target: "_blank" do %>
        <%= blog.title %>
    <% end %>
  </h4>
  <p><%= blog.entry %></p>
  <br>
  <% if user_signed_in? && current_user.super_admin? %>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', blog, method: :delete %></td>
  <% end %>
  <hr>
<% end %>