<% if params[:id] %>

	<%= simple_form_for @blog, html: { class: 'form-vertical' } do |f| %>
		<%= f.error_notification %>
	  <div class="form-inputs">
	    <%= f.input :title %>
	    <%= f.input :url %>
	    <%= f.input :entry, input_html: { rows: 23, style: 'width: 600px' } %>
	  </div>
	    <%= f.button :submit, class: 'btn-warning', id: 'item_submit' %>
	  <br>
	<% end %>

<% else %>

	<%= simple_form_for @blog, html: { class: 'form-vertical' }, url: blog_index_path do |f| %>
		<%= f.error_notification %>
	  <div class="form-inputs">
	    <%= f.input :title %>
	    <%= f.input :url %>
	    <%= f.input :entry, input_html: { rows: 23, style: 'width: 600px' } %>
	  </div>
	    <%= f.button :submit, class: 'btn-warning', id: 'item_submit' %> 
	  <br>
	<% end %>

<% end %>
