<% title @blog.title %>

<div class="row">
	<div class="span8 offset2">
		<p id="notice"><%= notice %></p>
		<br>
		<%= link_to "Main Archive", blog_index_path %>
		<br><br>
		  <p class="text-muted"><%= @blog.updated_at.strftime("%A, %d %B %Y").upcase %></p>
		  <h4>
		    <%= link_to @blog.title, blog_index_path %>
		  </h4>
		  <p class="blog_entry"><%= @blog.entry %></p>
		  <br>

	    <div class="social-likes">
	      <div class="facebook" title="Share link on Facebook">Facebook</div>
	      <div class="twitter" data-via="infinitory" title="Share link on Twitter">Twitter</div>
	      <div class="plusone" title="Share link on Google+">Google+</div>
	    </div>
	    <br>

		  <% if user_signed_in? && current_user.super_admin? %>
		  <hr>
		    <p><%= link_to 'Edit', edit_blog_path(@blog) %></p>
		    <p><%= link_to 'Destroy', @blog, method: :delete %></p>
		  <% end %>

	</div>
</div>