<%= ajax_links :section_id => "page" do %>
  <h5><%= will_paginate @comments %></h5>
<% end %>
<%= ajax_loadzone do %>
  <%= render 'notifications' %>
<% end %>
<%= ajax_links :section_id => "page" do %>
  <h5><%= will_paginate @comments %><h5>
<% end %>
