<%- model_class = Lab -%>
  <% title "Labs: " + @gl.fullname %>
  <div class="row">
    <div class="span6">
    <% if @lab.icon.present? %>
      <% if @lab.icon_processing? %>
        <%= image_tag('/images/ajax-spinner.gif') %>
        <h4>Processing image...</h4>
      <% else %>
        <span class="inline-block">
          <%= image_tag(@lab.icon.url, class: 'img-rounded').html_safe %>
        </span><br>
      <% end %>
    <% end %>
      <h3>
        <span class="inline-block">
          <%= link_to lab_users_path(@lab) do %>
            <i class="icon-group"></i><%= " The #{@gl.fullname} Lab" %>
          <% end %>
          <% if current_user.gl_lm(@lab) %>
            <div class="btn-group">
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_lab_path(@lab), class: 'btn-small btn-warning' %>
            </div>
          <% end %>
        </span>
      </h3>
      <dl class="dl-horizontal">
        
        <h5>
          <%= link_to @user do %>
           <i class="fa fa-fw fa-lg fa-lightbulb-o"></i><%= " #{@user.fullname}" %>
           <% end %>
        </h5>
        <% if @lab.room.present? %>
          <%= link_to "#" do %>
            <i class="fa fa-fw fa-lg fa-compass"></i> Room <%= @lab.room %></h5>
          <% end %>
        <% end %>
        <% if @department.present? %>
          <h5>
            <%= link_to institute_department_path(@institute, @department) do %>
             <i class="fa fa-fw fa-lg fa-sitemap"></i><%= " #{@department.name}" %>
             <% end %>
          </h5>
        <% end %>
        <h5>
          <%= link_to @lab.institute do %>
           <i class="fa fa-fw fa-lg fa-building-o"></i><%= " #{ @institute.name }" %>
           <% end %>
        </h5>
      </dl>
      <hr>
        <div class='row-fluid'>
            <%= link_to lab_users_path(@lab) do %>
              <%= fa_icon "users" %> Members <small>(<%= @users.size %>)</small>
            <% end %><br><br>
            <%= link_to lab_reagents_path(@lab) do %>
              <%= fa_icon "flask" %> Reagents <small>(<%= @lab.reagents.size %>)</small>
            <% end %><br><br>
            <%= link_to lab_devices_path(@lab) do %>
              <%= fa_icon "cogs"  %> Devices <small>(<%= @lab.devices.size %>)</small>
            <% end %>
        </div>
      <hr>
      <div id='chart'>
      <%= render_chart(@chart, 'chart') %>
      </div>
      <hr><br><br>
    </div>
    <div class="span6 pull-right">
      <!-- Nav panes -->
      <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#notifications" data-toggle="tab">Notifications</a></li>
        <li class="disabled"><a href="#messages" data-toggle="tab">Messages</a></li>
      </ul><br>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade in active" id="notifications">
          <%= paginate @notifications %>
            <%= render 'notifications' %>
          <%= paginate @notifications %>
        </div>
        <div class="tab-pane fade" id="messages"></div>
      </div>  
    </div>
  </div>