<%- model_class = Lab -%>
<div class="page-header">
  <h3><i class="icon-beaker"></i><%= link_to " The #{@lab.name} Lab", lab_users_path(@lab) %> 
    <% if current_user.gl_lm? && current_user.lab == @lab %>
      <div class="btn-group">
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lab_path(@lab), :class => 'btn-small btn-success' %>
      </div>
    <% end %>
  </h3>

  <dl class="dl-horizontal">
    <h5><i class="icon-eye-open"></i><%= link_to " #{@user.fullname}", @user %></h5>
    <% if @department.present? %>
      <h5><i class="icon-th"></i><%= link_to " #{@department.name}", @department %></h5>
    <% end %>
    <h5 class="text-muted"><i class="icon-sitemap"></i><%= link_to " #{@institute.name}", @institute %></h5>
  </dl>

  <br>
  <div class="btn-toolbar">
      <% if @department.present? %>
        <%= link_to "UP", department_path(@department), :class => 'btn-large' %>
      <% else %>
        <%= link_to "UP", institute_path(@institute), :class => 'btn-large' %>
      <% end %>    
  </div>
</div>
  

