<%- model_class = Lab -%>
<div class="page-header">
  <h2>The <%= "#{@lab.name}" %> Lab
    <% if current_user.gl_lm? && current_user.lab == @lab %>
      <div class="btn-group">
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lab_path(@lab), :class => 'btn-small btn-success' %>
      </div>
    <% end %>
  </h2>
  <br>
  <div class="btn-toolbar">
      <% if @lab.department.present? %>
        <%= link_to "UP", department_path(@lab.department) %>
      <% else %>
        <%= link_to "UP", institute_path(@lab.institute) %>
      <% end %>
      <%= link_to "MEMBERS", lab_users_path(@lab), :class => 'btn-large' %>      
  </div>
</div>

<dl class="dl-horizontal table-striped">
  <dt><strong><%= model_class.human_attribute_name(:group_leader) %>:</strong></dt>
  <dd><%= link_to "#{@user.fullname}", @user %></dd><br>
  <% if @lab.department.present? %>
  <dt><strong><%= model_class.human_attribute_name(:department) %>:</strong></dt>
  <dd><%= link_to "#{@department.name}", department_path(@department) %></dd><br>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:institute_id) %>:</strong></dt>
  <dd><%= link_to "#{@lab.institute.name}", institute_path(@lab.institute) %></dd>
</dl>