<%- model_class = Lab -%>
<div class="page-header">
  <h3>
    <%= link_to lab_users_path(@lab) do %>
     <i class="icon-group"></i><%= " The #{@lab.name} Lab" %>
    <% end %>
    <% if current_user.gl_lm? && current_user.lab == @lab %>
      <div class="btn-group">
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lab_path(@lab), :class => 'btn-small btn-success' %>
      </div>
    <% end %>
  </h3>


  <dl class="dl-horizontal">
    <h5>
      <%= link_to @user do %>
       <i class="icon-eye-open"></i><%= " #{@user.fullname}" %>
       <% end %>
    </h5>

    <% if @department.present? %>
      <h5>
        <%= link_to @department do %>
         <i class="icon-sitemap"></i><%= " #{@department.name}" %>
         <% end %>
      </h5>
    <% end %>

    <h5>
      <%= link_to @institute do %>
       <i class="icon-home"></i><%= " #{@institute.name}" %>
       <% end %>
    </h5>
  </dl>


<%= link_to "#", class: "btn-large" do %>
  <i class="icon-tint"> Reagents</i>
<% end %>
<%= link_to "#", class: "btn-large" do %>
  <i class="icon-wrench"> Equipment</i>
<% end %>
<br><br>
</div>


<p>lksjdflkj</p>

  

