<%- model_class = Lab -%>

<% title "Labs: " + @lab.gl.fullname %>

<div class="page-header">
  <h3>
    <%= link_to lab_users_path(@lab) do %>
     <i class="icon-group"></i><%= " The #{ @lab.gl.fullname }Lab" %>
    <% end %>
    <% if current_user.gl_lm? && current_user.lab == @lab %>
      <div class="btn-group">
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lab_path(@lab), :class => 'btn-mini btn-success' %>
      </div>
    <% end %>
  </h3>

  <dl class="dl-horizontal">
    <h5>
      <%= link_to @user do %>
       <i class="icon-lightbulb"></i><%= " #{ @user.fullname }" %>
       <% end %>
    </h5>

    <% if @department.present? %>
      <h5>
        <%= link_to institute_department_path(@institute, @department) do %>
         <i class="icon-sitemap"></i><%= " #{ @department.name }" %>
         <% end %>
      </h5>
    <% end %>

    <h5>
      <%= link_to @institute do %>
       <i class="icon-building"></i><%= " #{ @institute.name }" %>
       <% end %>
    </h5>
  </dl>

    <div class='row-fluid'>
        <%= link_to "#", class: "btn-large" do %>
          <i class="icon-bullhorn"> Announcements</i>
        <% end %>
        <%= link_to lab_reagents_path(@lab), class: "btn-large" do %>
          <i class="icon-beaker"> Reagents (<%= @lab.reagents.size %>)</i>
        <% end %>
        <%= link_to lab_devices_path(@lab), class: "btn-large" do %>
          <i class="icon-cogs"> Devices (<%= @lab.devices.size %>)</i>
        <% end %>
        <%= link_to "#", class: "btn-large" do %>
          <i class="icon-bar-chart"> Statistics</i>
        <% end %>
    </div>
<br><br>
</div>


<p>lksjdflkj</p>

  

