<div id="push">
  <% if user_signed_in? %>
      <%= nav_bar brand: "INFINITORY", brand_link: user_path(current_user), responsive: false do %>
        <%= menu_group pull: :right do %>
        <span class="text-center">
          <% if current_user.lab.present? %>
            <%= link_to current_user.lab, class: "inline-block navbutton" do %>
              <%= fa_icon "users", title: "Your lab", class: "fa-2x fa-fw"  %><br><small class="text-center"><%= current_user.lab.users.size %></small>
            <% end %>
          <% end %>
          <% if current_user.reagents.count > 0 %>
            <%= link_to user_reagents_path(current_user), class: "inline-block navbutton" do %>
              <%= fa_icon "flask", title: "Your reagents", class: "fa-2x fa-fw"  %><br><small><%= current_user.cached_reagent_count %></small>
            <% end %>
          <% end %>
          <% if current_user.devices.count > 0 %>
            <%= link_to user_devices_path(current_user), class: "inline-block navbutton" do %>
              <%= fa_icon "cogs", title: "Your devices", class: "fa-2x fa-fw" %><br><small><%= current_user.cached_device_count %></small>
            <% end %>
          <% end %>
            <%= link_to '#', class: "inline-block navbutton" do %>
              <%= fa_icon "calendar", title: "Your bookings", class: "fa-2x fa-fw"  %><br><small><%= current_user.cached_device_count %></small>
            <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class: "inline-block navbutton", id: "sign-out-button" do %>
            <%= fa_icon "sign-out", class: "fa-2x fa-fw" %><br><small>Logout</small>
          <% end %>   
          </span>
        <% end %>
      <% end %>

  <% else %>
    <%= nav_bar do %>
      <%= menu_group pull: :right do %>
        <%= drop_down 'SIGN-IN' do %>
          <%= simple_form_for('user', url: new_user_session_path,
                                      defaults: { input_html: { style: 'width: 210px' } },
                                      html: { autocomplete: 'off' }) do |f| %>        
            <div class="splash form-inputs">
              <%= f.input :email, required: false, autofocus: true %>
              <%= f.input :password, required: false %>
            </div>
            <div class="splash form-inputs">
              <%= f.button :submit, 'Sign in', class: 'btn-warning'   %><br><br>
              <%= link_to 'Forgot your password?', new_password_path('user'), id: "forgot_password" %>
            </div>
          <% end %>
        <% end %>
      <% end %>   
    <% end %>
  <% end %>
</div>