<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Infinitory" %></title>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="//use.typekit.net/fin5feo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= render 'layouts/header' %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>     
    <%= render 'layouts/main' %>
    <%= render 'layouts/footer' %>     
    <!-- Javascripts -->
    <%= javascript_include_tag "application" %>
    <%= yield :scripts %>
  </body>
</html>